[2016-05-23 17:36] #467 closed, assigned to dnishant-zz

[2016-05-23 17:56] shchar opened #474 "Twitter User Configuration Bug"
When I update TACIT through the application itself (help, check for updates...), it re-starts once it is done updating and then the twitter user configuration information that I had inputted previously, is no longer there (I have to regenerate the different keys through the twitter apps website).

[2016-05-23 18:37] VijayanB commented on #474
This is fixed. Please verify with new update.

[2016-05-23 18:48] VijayanB opened #475 "Form UI Consistency"
Add image to the form header section on every Crawler

![screen shot 2016-05-23 at 11 46 59 am](https://cloud.githubusercontent.com/assets/11067894/15480805/3e981caa-20dc-11e6-8c98-5c5fd2c9f8c3.png)

![screen shot 2016-05-23 at 11 47 10 am](https://cloud.githubusercontent.com/assets/11067894/15480806/3e9c0e46-20dc-11e6-873b-e3d3dee2b750.png)

[2016-05-23 18:55] VijayanB commented on #475
I fixed the Latin Crawler. Please do the same for the Stack Exchange crawler

[2016-05-23 19:10] shchar commented on #474
I updated TACIT and it kept all the information for the Twitter User Configuration except for the Consumer Key, for some reason this got deleted.

[2016-05-23 19:45] VijayanB commented on #474
@dnishant
Test this once you commit the consumer key fix

[2016-05-23 20:31] #475 closed, assigned to dnishant-zz

[2016-05-23 20:52] #474 closed, assigned to dnishant-zz

[2016-05-23 21:56] #455 closed, assigned to dnishant-zz

[2016-05-23 22:04] #447 closed, assigned to mdehghanim

[2016-05-23 22:10] #462 closed, assigned to joehoover

[2016-05-23 22:21] mdehghanim commented on #437
@shchar Can you please test this feature?

[2016-05-23 22:26] joh03067 commented on #468
looks good. Thanks!

[2016-05-23 22:27] #468 closed, assigned to joh03067

[2016-05-23 22:29] joh03067 commented on #429
its good.

[2016-05-23 22:29] #429 closed, assigned to joh03067

[2016-05-23 22:37] shchar commented on #437
The feature works when you select a class but not the entire corpus. To make this less confusing maybe the export option should only become available once the user actually selects a class. Otherwise it appears as if the export button is not working if they try using it when they have a corpus selected.

[2016-05-23 22:53] VijayanB commented on #449
are we ignoring special characters(non alphabets and numbers) while processing?

[2016-05-23 23:30] #460 closed, assigned to dnishant-zz

[2016-05-24 18:58] VijayanB opened #476 "Cooccurrence Analysis"
We need a Validator for seed file.
Sample rules : Every line should contains a word ( alphabets/numbers )
                        Special characters are not allowed.
 Discuss rest of the rules with Professor

[2016-05-24 19:09] VijayanB opened #477 "Co-occurrence Analysis : Removes Special character from input file"
I have special characters like ',' , ' :' , '-' in my input file. It was removed while processing , even though i haven't enabled preprocess option.

[2016-05-24 19:10] VijayanB commented on #448
It was taken care by @dnishant

[2016-05-24 19:10] #448 closed, assigned to VijayanB

[2016-05-24 19:16] VijayanB commented on #463
Unlike SVM, NB support more than two labels for classification. Hence every folder is considered to be a label for NB. The expectation is user will group all the relevant files inside a folder , which will be used as input for training and classification.

[2016-05-24 20:10] VijayanB opened #478 "UI Consistency"
When Stack Exchange and Reddit Crawler is Cancelled , it is displaying Crawling Cancelled with Red icon. This is inconsistent with Latin & Twitter, which displays Information "Crawling is Stopped". Since this is user defined action, it shouldn't show in red as error.

![screen shot 2016-05-24 at 12 54 43 pm](https://cloud.githubusercontent.com/assets/11067894/15517903/23a65604-21af-11e6-91e6-1c5c1

[2016-05-24 20:13] VijayanB opened #479 "Stack Exchange Crawler"
1. Open Stack Exchange Crawler.
2. Click Run without any input. Nothing happens. Ideally It should mention like enter corpus name / Add atleast one domain, etc..
3. Same after entering Corpus name. Still no message until i add domain.

[2016-05-24 21:55] sagarmakwana commented on #477
@VijayanB @mdehghanim In the previous module of cooccurrence analysis, it removed all the special characters and only considered the words in the window because while matching with the seed words we need not consider special characters. I followed the same thing. I am not sure if it is correct or not.

[2016-05-25 00:41] joh03067 opened #480 "SVM: average pvalue in console"
Right now, SVM tells you the average accuracy over the 10 folds for the classifier, but it doesn't give you a summary p-value that you can use for reporting. The p-value should also be reported if possible.

[2016-05-25 04:34] mdehghanim opened #481 "SVM p value error"
p value cannot be greater than 1. We are doing something wrong in calculating the p value

Created Predictive Weights file - /Users/morteza/Desktop/output/SVM-Classification-weights-k1-05-24-16-21-37-53.csv
Finished building document frequency map.
Accuracy = 50.0% (20/40) (classification)

Binomial Test P value  = 1.1253706876195788

[2016-05-25 04:50] mdehghanim commented on #481
I think this is only a problem with accuracy = 50%

[2016-05-25 04:57] mdehghanim opened #482 "SVM cross validation error"
When doing cross validation, shouldn't the size of the test set change based on the number of folds (k)?
Currently, for the analysis that I'm doing the test set is always set to 34:
with k=10:
Accuracy = 47.05882352941176% (16/34) (classification)

k=5:
Accuracy = 55.88235294117647% (19/34)

k=1:
Accuracy = 50.0% (17/34)

[2016-05-25 05:00] mdehghanim opened #483 "SVM: error in file path"
Not sure why I'm getting this error. The directories have been scanned (as you can see) and the number of files displayed.
![screen shot 2016-05-24 at 10 06 21 pm](https://cloud.githubusercontent.com/assets/6384236/15528676/e5c7d410-21fa-11e6-961a-c8d7014bfa65.png)

[2016-05-25 05:09] mdehghanim opened #484 "TACIT temp files"
why is the TACIT temp folder full of directories that start with "Twitter" even though I've never ran the Twitter crawler?

[2016-05-25 05:09] mdehghanim commented on #484
![screen shot 2016-05-24 at 10 15 40 pm](https://cloud.githubusercontent.com/assets/6384236/15528793/3be21134-21fc-11e6-8faf-f607908c866e.png)

[2016-05-25 18:00] #479 closed, assigned to dnishant-zz

[2016-05-25 18:01] mdehghanim commented on #483
if you click on run again, then it runs fine

[2016-05-25 18:45] VijayanB commented on #484
@mdehghanim Can you let me know what were you testing , so that it will help me to narrow it down to where the fault copy paste of code happened?

[2016-05-25 18:49] mdehghanim commented on #484
I was using the SVM plugin

[2016-05-25 19:04] VijayanB commented on #484
@mdehghanim I tried running SVM by changing the preprocessed file location. It never created any folder starting with twitter. I verified the code that "twitter_" is used inside method called processTwitter. Can you check this by changing the pre-processed file location from Preference Page and try SVM? Please let me know if  the issue still remains in new location

[2016-05-25 19:29] #472 closed, assigned to nobody

[2016-05-25 19:32] joehoover commented on #463
Hmm, I see your reasoning. I'll note this more clearly in the help files.

[2016-05-25 19:34] #478 closed, assigned to dnishant-zz

[2016-05-25 19:47] joehoover commented on #469
Sent. Let me know if you need anything else.

[2016-05-26 17:39] dnishant-zz commented on #459
@shchar This has been fixed, please test this with a new build.

[2016-05-26 18:19] VijayanB commented on #484
The issue is fixed.

[2016-05-26 18:19] #484 closed, assigned to VijayanB

[2016-05-26 18:42] VijayanB commented on #481
The issue is fixed .

[2016-05-26 18:42] #481 closed, assigned to VijayanB

[2016-05-26 18:46] VijayanB commented on #483
@mdehghanim Is this happening consistently ?  I am not able to reproduce for my input folders.

[2016-05-26 18:46] #463 closed, assigned to VijayanB

[2016-05-26 19:02] shchar commented on #459
I re-downloaded TACIT from the wiki, and TACIT Word Count is still not working for me. This is the error message I am getting:

Loading models.
Bulding dictionary.
Word count analysis met with error.
Take appropriate action to resolve the issues and try again.

I'm using version: 1.0.0.201605261733

[2016-05-26 20:03] #461 closed, assigned to anishgkanchan

[2016-05-26 20:04] anishgkanchan commented on #461
Bug fixed.

[2016-05-26 20:18] anishgkanchan commented on #470
This is done.

[2016-05-26 20:18] #470 closed, assigned to anishgkanchan

[2016-05-26 20:29] dnishant-zz commented on #459
Please test it now, let me know if the problem persists.

[2016-05-26 20:51] shchar commented on #459
The problem is fixed, it's working now, thank you!

[2016-05-26 20:55] #459 closed, assigned to shchar

[2016-05-27 01:44] sagarmakwana commented on #482
@mdehghanim
The issue is resolved in commit d74f90c. Please test and close the issue.

Possible test cases could be:
1) k=1 (Basically no cross validation occurs)
2) k= some value less than the number of files in any of the two classes (Ideal case for cross validation)
3) k= value same as the number of files in smaller class (Basically this would be Leave-one-out cross validation)
4) k = some valu

[2016-05-27 01:50] sagarmakwana commented on #471
The label has been changed to 'Dictionary'.The issue is resolved in commit d74f90c.

[2016-05-27 01:50] #471 closed, assigned to sagarmakwana

[2016-05-27 18:39] #482 closed, assigned to sagarmakwana

[2016-05-27 18:40] mdehghanim commented on #476
@sagarmakwana is this fixed?

[2016-05-27 18:40] mdehghanim commented on #469
@dnishant is this fixed?

[2016-05-27 18:41] mdehghanim commented on #466
@dnishant fixed?

[2016-05-27 18:41] mdehghanim commented on #437
@dnishant did you implement @shchar's suggestion? It makes sense.

[2016-05-27 19:09] sagarmakwana commented on #476
Nope. Should be done till the end of the day.

[2016-05-28 01:03] sagarmakwana commented on #477
@VijayanB I have modified the code so that it doesn't remove the special characters but I couldn't help but remove comma and period because the comma interrupts with the actual output in the csv file. I hope removing comma and period should be okay.Let me know your thoughts.

[2016-05-28 04:06] sagarmakwana commented on #476
@mdehghanim
Validation is done in commit 02f8714.

Validation rules for dictionary are as follows:
1. File must be with the extension of .txt
2. Each line must contain at least one alphanumeric word with no spaces. Special characters are allowed.
3.At least one word must be present in the dictionary.(Dictionary cannot be empty)

Let me know if this rules are good or changes are required.

[2016-05-28 04:06] sagarmakwana commented on #476
@VijayanB Can you please test it.

[2016-05-28 04:09] sagarmakwana commented on #477
@VijayanB
This issue is addressed in commit 02f8714.
I have made some modifications as said above. Can you please test it.

[2016-05-31 17:38] dnishant-zz commented on #466
Yes, this can be tested.

[2016-05-31 17:43] dnishant-zz commented on #437
@shchar you can test this feature on a new build.

[2016-05-31 18:14] shchar commented on #437
The feature is working great now and follows my suggestion, thank you!

[2016-05-31 18:14] #437 closed, assigned to dnishant-zz

[2016-05-31 18:16] dnishant-zz commented on #469
Yes, it can be tested.

[2016-05-31 19:08] anurags1106 commented on #476
@sagarmakwana Just want to confirm that you have taken care of this case:
kind    <of>131/125   <of>135/126
This is a valid entry for a LiWC dictionary

[2016-05-31 19:23] sagarmakwana commented on #476
@anurags1106
Is it
131/125
135/126
OR
131/125 135/126.

Validator in my case wont accept the second scenario.
Also, I am not sure if the LIWC dictionary rules apply in co-occurrence dictionary because it is simply just a collection words.

[2016-05-31 20:33] shchar opened #485 "Co-Occurrence Analysis Plugin not working"
I am using a dictionary in a .txt file that has worked in other word count plugins, but I am getting an error message when I try to use it in the Co-occurrence Analysis plugin that says:

"Invalid dictionary or dictionary format. Change dictionary."

I believe that this is a bug, but if it isn't and this plugin just requires a different kind of dictionary, then this should be written in the help f

[2016-05-31 20:44] mdehghanim commented on #466
@joehoover can you please test?

[2016-05-31 20:45] mdehghanim commented on #469
@joehoover Can you please test?

[2016-05-31 20:45] sagarmakwana commented on #485
@shchar Can you please send me the dictionary at smakwana@usc.edu ??

[2016-05-31 20:54] sagarmakwana commented on #485
@shchar The dictionary structure is different . Hence it is not working.

Validation rules for dictionary are as follows:
1. File must be with the extension of .txt
2. Each line must contain at least one alphanumeric word with no spaces. Special characters are allowed.
3.At least one word must be present in the dictionary.(Dictionary cannot be empty)

I am sending you the dictionary which I used f

[2016-05-31 20:56] shchar commented on #485
Okay great, thanks so much for your help.

[2016-05-31 20:56] #485 closed, assigned to sagarmakwana

[2016-05-31 22:42] anurags1106 commented on #476
Oh! I thought this was a validation tool for all the dictionaries. No need to worry about this for cooccurance, but for LIWC(only LIWC and not tacit word count), the dictionary supports entries of the second type.

[2016-06-01 18:19] joehoover commented on #466
This bug seems fixed, but now there are two new ones.
1.

If I:
1. create a corpus
2. add it to the NB tool for analyses
3. select both classes
4. try to run analysis

I get the error 'Provide at least two valid class paths'

Also, 2:

If I add and select corpus classes individually (rather than importing the entire corpus), the analysis will start but breaks immediately without throwing an error.

[2016-06-01 18:24] joehoover commented on #469
This is still broken for me. If I try to run HC on a corpus or corpus class, I get the same completely uninformative error. It also still works if I import a raw directory or files.

[2016-06-01 21:24] VijayanB commented on #483
The issue is fixed. Please test with updates

[2016-06-01 21:24] #483 closed, assigned to VijayanB

[2016-06-01 21:29] sagarmakwana commented on #476
@anurags1106 Thanks for that. Will take it into consideration.

[2016-06-01 21:30] sagarmakwana commented on #476
@VijayanB Can you please test and close the issue?
The rules are mentioned above.

[2016-06-01 21:31] sagarmakwana commented on #477
@VijayanB Can you please test and close this it?

[2016-06-01 21:37] #477 closed, assigned to sagarmakwana

[2016-06-01 21:42] VijayanB commented on #476
@sagarmakwana
The error message is not appropriate.
Since you know the reason for failure for validation, can you give reasons with line number which will help the user to correct as well.

"Why change Directory?"

Invalid Dictionary format. Reason : "More than one word found at line no : 7" something like that ( it is just a suggestion )

[2016-06-01 22:56] sagarmakwana commented on #476
@VijayanB Yes you are correct. Errors should be more informative. Will make the necessary changes.

[2016-06-01 23:48] sagarmakwana commented on #476
@VijayanB Done.

[2016-06-02 17:50] shchar opened #486 "Error Message Unclear"
In the LIWC-Style Word count plugin, when the dictionary the user inputs is not in the right format, you receive an error message that says:
" LIWC-Style Word count analysis met with error. Take appropriate action to resolve the issues and try again"

This error message should be more specific so the user knows what they did wrong and that they need to put the dictionary in a .txt format.

[2016-06-02 18:40] shchar opened #487 "Heirarchial Cluster Dendogram Image Issue"
When I select to preprocess the data, the output is fine and I get a proper Dendogram image.
![hierarchical clustering output 06-02-16-11-33-08](https://cloud.githubusercontent.com/assets/19414116/15756478/528a7820-28b6-11e6-8ceb-0291814f3857.jpeg)

But when I don't select to preprocess the data, although at first a proper Dendogram pops up, when I look at the folder that my output is saved in, th

[2016-06-02 19:40] VijayanB opened #488 "Co-occurrence Analysis (Negative testing)"
Please find the input file and seed file along with this issue to reproduce

![screen shot 2016-06-02 at 12 34 54 pm](https://cloud.githubusercontent.com/assets/11067894/15758290/bc77442c-28be-11e6-8686-e47c0bab8097.png)

input:
[Cooccurrence-Analysis-run-report-06-01-16-14-37-07.txt](https://github.com/USC-CSSL/TACIT/files/296364/Cooccurrence-Analysis-run-report-06-01-16-14-37-07.txt)

Seed:
cont

[2016-06-02 20:55] sagarmakwana commented on #488
@VijayanB Worked for me. Are you sure you took a build which has all changes till yesterday??

[2016-06-02 22:44] shchar opened #489 "Filter Corpus Button"
This function is acting up and the “starts with” and the “ends with” options are not really working at all (or at least not appearing as if they are). If I try to use the "starts with" button, then none of the other buttons work afterwards. The "equals" button and "contains" button are working consistently if I don't press anything before them. Also, occasionally it does not let you add two filter

[2016-06-02 22:45] shchar commented on #489
Sorry forgot to add that these are options under the Operation section of the Corpus Filter page.

[2016-06-03 00:39] sagarmakwana commented on #488
I guess its a wrong build. Closing the issue for now.

[2016-06-03 00:39] #488 closed, assigned to sagarmakwana

[2016-06-03 05:32] #469 closed, assigned to joehoover

[2016-06-03 05:32] #466 closed, assigned to joehoover

[2016-06-06 16:50] #476 closed, assigned to sagarmakwana

[2016-06-06 16:50] #449 closed, assigned to sagarmakwana

[2016-06-06 16:53] #391 closed, assigned to nobody

[2016-06-06 16:57] mdehghanim opened #490 "Typepad crawler"
Needs to be implemented for beta 3.5

[2016-06-06 16:58] mdehghanim opened #491 "UC Santa Barbara Presidential Papers crawler"
Needs to be implemented for Beta 3.5

[2016-06-06 17:46] sagarmakwana commented on #480
@joh03067 So what will be the summary p-value? Will it be average of p-values of all the 10 folds or there is some other way to calculate it??

[2016-06-06 23:34] anishgkanchan commented on #491
This is completed and can be tested.

[2016-06-08 20:25] dnishant-zz commented on #489
@shchar this issue is fixed and can be tested with a new build.

[2016-06-08 20:36] shchar commented on #489
It's not letting me update my software, it continues to say that "an error occurred while collecting items to be installed".

[2016-06-08 20:54] shchar commented on #489
The Filter Corpus button is working now, thank you.

[2016-06-08 20:54] #489 closed, assigned to dnishant-zz

[2016-06-08 20:58] shchar opened #492 "Unable to Update from TACIT"
I was able to download the latest version of TACIT from the Wiki page, but I am getting an error when I try to update it from TACIT itself.

![screen shot 2016-06-08 at 1 55 56 pm](https://cloud.githubusercontent.com/assets/19414116/15910686/e77915d0-2d80-11e6-8d07-d6633aeaa1f1.png)

[2016-06-08 22:13] sagarmakwana commented on #492
@shchar  Can you please recreate the bug on your machine and then press details and send me a snapshot of the details? Also what tacit version are you using?

[2016-06-08 22:21] shchar commented on #492
I am using Version: 1.0.0.201606070054

I had to take two screenshots because the details are too long to capture in one.

![screen shot 2016-06-08 at 3 20 09 pm](https://cloud.githubusercontent.com/assets/19414116/15913011/a583da82-2d8c-11e6-82e4-7451dd347a4f.png)
![screen shot 2016-06-08 at 3 20 20 pm](https://cloud.githubusercontent.com/assets/19414116/15913012/a58b062c-2d8c-11e6-9fed-7cb9768af

[2016-06-09 22:16] shchar opened #493 "Spelling Mistake"
the word "at least" should be separated into two words when you get an error message.

![screen shot 2016-06-09 at 3 14 52 pm](https://cloud.githubusercontent.com/assets/19414116/15948336/126d9692-2e55-11e6-8732-53a8be9ae279.png)

[2016-06-10 21:07] mdehghanim commented on #451
Issues need to be tested by others after they are fixed

[2016-06-10 21:08] mdehghanim commented on #451
@sagarmakwana please test

[2016-06-13 21:04] shchar commented on #493
The spelling mistake is fixed.

[2016-06-13 21:04] #493 closed, assigned to dnishant-zz

[2016-06-15 21:21] mdehghanim opened #494 "PLOS One crawler"
implement a crawler for PLOS One
http://api.plos.org/

[2016-06-15 21:46] mdehghanim opened #495 "Frontiers journals crawler"
http://home.frontiersin.org/

[2016-07-08 00:06] sagarmakwana opened #496 "Bug in export functionality"
While adding a query to export the corpus, if the corpus has a field which has a list of values ,then the first value appears with the field name. Also the query does not search the list for the value.

![screen shot 2016-07-07 at 4 27 35 pm](https://cloud.githubusercontent.com/assets/7536176/16673599/753fecd2-4464-11e6-92dc-1a63f2ae1cab.png)

[2016-07-08 00:13] sagarmakwana commented on #494
@mdehghanim PLOS ONE Crawler is done and can be tested.

[2016-07-08 00:38] sagarmakwana commented on #450
@mdehghanim This is done and can be tested.

[2016-07-11 18:26] mdehghanim commented on #492
Please test this issue thoroughly, and close it if it can't be replicated.

[2016-07-11 19:13] shchar commented on #492
This issue does not occur when you update TACIT from the current version, but the same issue is still occurring when trying to update from version 1.0.0.201606070054.

I don't know if this issue matters anymore though since it is only occurring on an old version.

[2016-07-11 22:32] #492 closed, assigned to nobody

[2016-07-11 22:37] anishgkanchan commented on #487
This bug is not getting reproduced on my computer. @shchar do you remember what data you had fed into the plugin?

[2016-07-12 18:13] shchar commented on #487
The issue seems to be fixed with the updates and isn't occurring in the newest version of TACIT.

[2016-07-12 18:13] #487 closed, assigned to anishgkanchan

[2016-07-13 20:26] dnishant-zz commented on #496
@sagarmakwana This can be tested

[2016-07-13 21:01] sagarmakwana opened #497 "Unable to operate on Corpus in LDA"
When we add a corpus to the LDA module and run the LDA, it throws an Exception. Although if we add a folder and run the LDA, it works fine.

![screen shot 2016-07-13 at 1 57 15 pm](https://cloud.githubusercontent.com/assets/7536176/16819639/40bf203e-4902-11e6-887b-532ff89aee70.png)

[2016-07-13 21:05] sagarmakwana opened #498 "No output produced by the LDA module in Mac"
After running the LDA module, the only output produced at the output location is the run report. There are a lot of .files generated which are visible in the windows terminal but are not visible in the Mac.

[2016-07-14 00:04] sagarmakwana commented on #497
@dnishant This issue is resolved. Can you please test it on your mac terminal.

[2016-07-14 00:04] sagarmakwana commented on #498
@dnishant This issue is resolved. Can you please test it on your mac terminal.

[2016-07-14 19:14] sagarmakwana commented on #497
The issue is resolved in commit f595765

[2016-07-14 19:14] #497 closed, assigned to sagarmakwana

[2016-07-14 19:31] sagarmakwana commented on #496
@dnishant It works fine.

[2016-07-14 19:31] #496 closed, assigned to dnishant-zz

[2016-07-14 19:34] sagarmakwana commented on #490
@joh03067  This crawler is done with all the changes that were requested. Please test the crawler and close the issue.

[2016-07-18 18:37] sagarmakwana opened #499 "Hierarchical clustering output error."
The mapping of document id to actual names of the document does not work properly if the preprocessor option is selected in hierarchical clustering.
In the below case, the actual name of the documents began with COMPUTER_SCIENCE_TimeStamp, but if I select preprocessor option, the names of the document printed in the output file began with twitter_TimeStamp.
Below is the image of the expected outpu

[2016-07-18 18:46] sagarmakwana commented on #499
This happens only when we select Corpus for analysis. It works fine for folder selection.

[2016-07-18 19:06] shchar opened #500 "TACIT Preferences Page - Twitter User Configuration"
![screen shot 2016-07-18 at 11 57 17 am](https://cloud.githubusercontent.com/assets/19414116/16926758/0527e142-4cdf-11e6-9403-1069ca091ca3.png)

When I try to delete the information on the Twitter User Configuration tab in the preferences page, it gives me an error message. I'm trying to change the consumer key / secret, and access token / secret, but I cannot do this since the old information is

[2016-07-18 19:17] mdehghanim commented on #486
@sagarmakwana is this fixed?

[2016-07-18 19:43] mdehghanim opened #501 "Hansard"
Write a crawler for https://hansard.parliament.uk/

[2016-07-18 20:17] mdehghanim opened #502 "Save corpus as R object"

[2016-07-18 21:09] shchar opened #503 "Santa Barbara Crawler Error"
![screen shot 2016-07-18 at 2 08 08 pm](https://cloud.githubusercontent.com/assets/19414116/16930446/1c7c094c-4cf1-11e6-9e47-84c445dc0ba3.png)

Not sure what is causing this error and if it is a mistake I am making in the input details, the error message should be more specific.

[2016-07-18 21:21] shchar opened #504 "Frontier Journal Crawler and PLOS ONE Crawler"
![screen shot 2016-07-18 at 2 16 05 pm](https://cloud.githubusercontent.com/assets/19414116/16930696/377ad7a4-4cf2-11e6-9b68-9f10ac0f2a0f.png)

![screen shot 2016-07-18 at 2 17 13 pm](https://cloud.githubusercontent.com/assets/19414116/16930738/669a686a-4cf2-11e6-9e7c-44b1bc2c6148.png)

The Crawler windows for these two crawlers pop up on the right side of TACIT, next to the Console. Every other c

[2016-07-18 21:31] shchar opened #505 "TypePad Crawler Error"
![screen shot 2016-07-18 at 2 30 03 pm](https://cloud.githubusercontent.com/assets/19414116/16931135/3b67aa34-4cf4-11e6-9a4c-b5a7035ca560.png)

This crawler isn't working for me, and again if it is something I am doing wrong in the input details, the error message should be more specific.

[2016-07-18 21:48] sagarmakwana commented on #505
@shchar Are you using the latest build?? Also please expand the details in the error message and send me the error logs on smakwana@usc.edu .

[2016-07-18 21:50] dnishant-zz commented on #500
@shchar @mdehghanim The twitter preference page accepts details only if all the details entered are valid. That means the users previous details are valid. If you try to change these details with new valid details the preference page accepts it without any issue however if you try to erase these details, it considers the details invalid. I could work around and allow a user to empty these fields b

[2016-07-18 21:56] shchar commented on #505
Yes I am using the latest build, and I will send you the details over email.

[2016-07-18 22:19] mdehghanim commented on #500
Can we have a "Erase all Fields" button?

[2016-07-18 23:19] dnishant-zz commented on #500
@shchar This can now be tested.

[2016-07-19 00:24] anishgkanchan opened #506 "Preprocess option not handled in SLDA"
The button exists, but internal handling isn't completed.

[2016-07-19 02:07] dnishant-zz commented on #506
This has been resolved, thanks!

[2016-07-19 02:07] #506 closed, assigned to dnishant-zz

[2016-07-19 02:28] anishgkanchan commented on #378
This has been done and can be tested

[2016-07-19 05:02] mdehghanim commented on #378
@joh03067 Can you please test?

[2016-07-19 05:02] #384 closed, assigned to nobody

[2016-07-19 05:03] mdehghanim commented on #289
CSV can now be imported in to TACIT. @joh03067 Can you please test?

[2016-07-19 18:36] sagarmakwana commented on #498
This issue is resolved.

[2016-07-19 18:36] #498 closed, assigned to sagarmakwana, dnishant-zz

[2016-07-19 20:24] dnishant-zz commented on #504
@shchar The Spelling is corrected however, I am not able to recreate the other bug "windows popping up next to the console". Is this the latest build you are working on? Could you also let me know the OS you're using.

[2016-07-19 22:30] shchar commented on #504
Yes I am working with the latest build. There might be something wrong with my computer and the system I am running TACIT on. I am using OS X Version 10.9.5

[2016-07-19 23:39] shchar commented on #505
I just updated TACIT again, and the crawler is now working on my computer as well as on the desktop in the office.

[2016-07-19 23:39] #505 closed, assigned to sagarmakwana

[2016-07-19 23:42] shchar commented on #504
I updated TACIT again from the newest build, and it's now working.

[2016-07-19 23:42] #504 closed, assigned to dnishant-zz

[2016-07-19 23:43] #503 closed, assigned to anishgkanchan

[2016-07-20 01:07] sagarmakwana commented on #486
@mdehghanim @shchar This issue is fixed in commit 950f2eb and can be tested.

[2016-07-20 01:35] sagarmakwana opened #507 "LIWC Wordcount Test case failed."
There are 10 JUnit Test cases which were written for the LIWC Wordcount plugin. 2 test cases involving the DAT files fail.
![screen shot 2016-07-20 at 12 16 05 pm](https://cloud.githubusercontent.com/assets/7536176/16999660/f53a8cee-4e73-11e6-8cb5-655363f4e812.png)

[2016-07-20 19:00] shchar commented on #500
This is working now, thank you.

[2016-07-20 19:00] #500 closed, assigned to dnishant-zz

[2016-07-20 19:05] mdehghanim commented on #507
Can you provide more information about this?

[2016-07-20 19:11] mdehghanim commented on #495
@joh03067 can you please test?

[2016-07-20 19:11] mdehghanim commented on #494
@joh03067 Can you please test whether the changes you suggested have been implemented?

[2016-07-20 19:12] mdehghanim commented on #491
@shchar Has this been tested?

[2016-07-20 19:12] mdehghanim commented on #490
@joh03067 Please test

[2016-07-20 19:12] mdehghanim commented on #486
@shchar can you please test?

[2016-07-20 19:13] mdehghanim commented on #451
@sagarmakwana has this been tested?

[2016-07-20 19:13] #379 closed, assigned to nobody

[2016-07-20 19:14] mdehghanim commented on #450
@dnishant please test

[2016-07-20 19:18] sagarmakwana commented on #507
@mdehghanim Updated the description.

[2016-07-20 19:31] shchar commented on #491
Yes this has been tested and is working.

[2016-07-20 19:31] #491 closed, assigned to anishgkanchan

[2016-07-20 19:39] shchar commented on #486
The error message seems to still be saying the same thing... there aren't more details on the dictionary being in the wrong format.
![screen shot 2016-07-20 at 12 37 50 pm](https://cloud.githubusercontent.com/assets/19414116/17000332/e2444898-4e76-11e6-81a1-10f6b2a981a5.png)

[2016-07-20 20:03] sagarmakwana commented on #486
@shchar Just to make sure that you have updated TACIT because the changes were made yesterday evening. So now the user can insert only dictionary which is in .txt format.

[2016-07-20 20:18] shchar commented on #486
On TACIT, it says there are no new updates available, but I will take a new build from the Wiki page and see if that works.

I am currently using version: 1.0.0.201607192005

[2016-07-20 20:26] shchar commented on #486
I tried it on the latest build using a dictionary in .PDF form, and I am still receiving the same error message.

LIWC-Style Word count analysis met with error.
Take appropriate action to resolve the issues and try again.

[2016-07-20 20:30] sagarmakwana commented on #486
I just noticed that the changes were not reflected in the build that you are using. I have updated the build just now. Probably it should work now. Please update and let me know if it works.

[2016-07-20 20:32] boghrati opened #508 "congress crawler error"
![senate_crawler](https://cloud.githubusercontent.com/assets/7200037/17002015/56e68718-4e7e-11e6-889d-4b7d718b07a4.png)

[2016-07-20 20:41] dnishant-zz commented on #473
The max files returned are weird but it is returned that way by the Reddit API itself. Also the API only allows one subreddit to be searched at a time, so separating the phrase by comma's will consider the whole string as a phrase I have updated the application to prompt the user to only enter one subreddit.

[2016-07-20 20:41] #473 closed, assigned to dnishant-zz, VijayanB

[2016-07-20 20:44] shchar commented on #486
It's working now. Thank you!

[2016-07-20 20:44] #486 closed, assigned to sagarmakwana

[2016-07-25 18:26] shchar opened #509 "HDP Topic Model"
![screen shot 2016-07-25 at 11 10 24 am](https://cloud.githubusercontent.com/assets/19414116/17112202/f39fb5c8-5259-11e6-9f58-58d8d0ece25d.png)

After running the HDP Topic Model plugin, the message says "LDA Topic Modeling completed successfully" But I believe it should say "HDP Topic Modeling completed successfully"

[2016-07-28 21:38] #378 closed, assigned to anishgkanchan

[2016-07-28 21:39] #451 closed, assigned to anishgkanchan

[2016-07-28 22:40] anishgkanchan commented on #499
This is solved

[2016-07-28 22:40] #499 closed, assigned to anishgkanchan

[2016-07-28 23:13] dnishant-zz commented on #450
works fine!

[2016-07-28 23:13] #450 closed, assigned to sagarmakwana, dnishant-zz

[2016-07-28 23:13] dnishant-zz commented on #509
I have handled this.

[2016-07-28 23:13] #509 closed, assigned to nobody

[2016-07-28 23:18] jgarten opened #510 "Simplify downloading all in presidential crawler"
It's a common use case to download all of a particular type of document (e.g. all General election debates). If you try to leave all fields blank, it fails with the message "Crawling failed. Provide valid data."

You can get around this by just putting a very common word (e.g. "the" or "and") in the search term 1 field. However, it would be cleaner if there were a way to pull all of a category dir

[2016-07-28 23:47] anishgkanchan commented on #507
This is solved

[2016-07-28 23:47] #507 closed, assigned to anishgkanchan, sagarmakwana

[2016-07-29 00:46] jgarten opened #511 "Presidential Crawler includes extraneous page information"
The Presidential debate crawler is currently including non-debate text at the bottom of some debates in the "Body" element.

For example, some debates end with a Note and/or a Citation (http://www.presidency.ucsb.edu/ws/index.php?pid=6517):
"Note: The debate began at 9:30 p.m. at the Phi Beta Kappa Memorial Hall on the campus of the College of William and Mary in Williamsburg, Virginia. It was bro

[2016-07-29 01:02] jgarten opened #512 "Presidential Debate Crawler doubling text"
The Presidential debate crawler is doing something odd. In the output json, it first includes the full text of the debate, then includes any notes and citations at the bottom (which should be separated, see #issue #511), then includes another copy of the debate (oddly excluding the first statement each time).

I've included a sample output file.
[americanpresidency.json.zip](https://github.com/USC

[2016-07-29 01:03] jgarten opened #513 "Break by speaker in presidential crawler"
Currently, the American Presidency Crawler downloads debates into json format where the entire debate is compressed into a single text field ("body"). This is fine if someone is looking at the debate as a whole but it's less convenient if you care about individual speakers.

One alternative would be to break down the "body" element into something like:
"Body" : [ {"Speaker" : "HOWARD K.SMITH, MODE

[2016-07-29 03:12] anishgkanchan commented on #510
This is solved

[2016-07-29 03:12] #510 closed, assigned to nobody

[2016-07-29 03:14] anishgkanchan commented on #511
I crawled quite a few times, but I didn't find any extra information. Could you please give an example query for which this occurred?

[2016-07-29 03:32] anishgkanchan commented on #512
Even this did not occur on my system. We could discuss this tomorrow.

[2016-07-29 18:48] jgarten commented on #511
Document Category: Debates: General Election
Search term 1: and [just used because it wasn't allowing it to be blank]

See the example json from issue 512 and search for "citation" in the file.

[2016-07-29 18:50] jgarten commented on #512
It's present in the example file I attached. That was generated by:
Select Document Category: Debates: General Election
Search Term 1: and

It was then exported through the corpus manager as json. If you search for "Citation", you'll see that after that, the text repeats (for example, in the first debate in the file).

[2016-07-29 19:00] jgarten opened #514 "Primary Debates aren't downloading"
On the American Presidency Crawler (using the Linux64 build on Ubuntu 14.04), neither of the primary debates (Debates: Primary Elections-[Democratic/Republican] Party) are downloading at all. I've tried a variety of parameters but each time it instantly fails with: "Crawling failed. Provide valid data"

[2016-07-29 19:04] jgarten opened #515 "Corpus management has to be closed and reopened to show new corpora"
When creating a new corpus through a crawl tool (I tested with the American Presidency Crawler), if you have Corpus Management open when the crawl occurs, you have to close it and reopen it in order to view the new corpus.

If it's not feasible to automatically refresh, perhaps add a refresh button.

[2016-07-29 19:13] anishgkanchan commented on #514
Are you using the latest build?
On my system I'm getting the message 'No records are found'.
And even on the website (http://www.presidency.ucsb.edu), no results are found for that query.

[2016-07-29 19:16] jgarten opened #516 "UX: need "start" button at bottom of tools"
Currently, the way to start a run/crawl/whatever is a tiny arrow in the upper right of all of the tools. Many of these tools require scrolling down to enter multiple options. By the time you hit the bottom, standard interface design would be to have a button or way to start the run there. Having to scroll back up to the top is both non-standard and counter-intuitive.

The default interface on all

[2016-07-29 19:23] jgarten opened #517 "Filter UX fixes on American Presidency Crawler"
The "filter results" box has a muddled UX.
1. For the "specify date range" and "Specify date" options, since these are mutually exclusive the more standard approach would be to signify that with a radio selector for the two of them. Since they are optional, even more intuitive would be to have 3 radio options: the default would be "all dates", then the other two. To visually separate this perhaps

[2016-07-29 19:31] jgarten commented on #514
Using a build downloaded about a half hour ago.

And the queries from their website work fine if you select the "INCLUDE election campaign documents" option. Since we don't have that option in the TACIT UX, it should probably be turned on by default in queries we submit (along with the other option they have "INCLUDE documents from the Office of the Press Secretary").

[2016-07-29 19:33] anishgkanchan commented on #512
This is now solved

[2016-07-29 19:34] anishgkanchan commented on #511
This is now solved

[2016-07-29 19:49] jgarten commented on #512
Not yet.

[2016-07-29 20:49] jgarten opened #518 "Starts of some debates cut off"
Using the American Presidency Crawler, the starts of some debates are cut off. This only affects some of the debates.

For example, the first paragraph of 854 (http://www.presidency.ucsb.edu/ws/index.php?pid=6414&st=&st1=) should be:
"THE MODERATOR. Good evening. I am Pauline Frederick..."

However, as can be seen in the attached file, the TACIT version cuts off the first paragraph and starts one

[2016-07-29 20:53] dnishant-zz commented on #515
@jgarten I have added a refresh button so you need not reopen the tab. It can be tested.

[2016-07-29 22:05] jgarten commented on #518
If you need some more examples, here are three others with the same problem of cutting off the first paragraph (each is covered by the same json file I posted originally):

http://www.presidency.ucsb.edu/ws/index.php?pid=21617
http://www.presidency.ucsb.edu/ws/index.php?pid=21625
http://www.presidency.ucsb.edu/ws/index.php?pid=29419

[2016-07-29 22:08] #515 closed, assigned to dnishant-zz

[2016-07-29 22:10] jgarten commented on #512
Solved in current build.

[2016-07-29 22:10] #512 closed, assigned to anishgkanchan

[2016-07-29 22:21] jgarten opened #519 "Paragraphs run together in crawler"
Using the American Presidency Crawler, some of the text in the HTML is separated by paragraphs (`<p>`). However, it seems that the crawler is simply stripping out these tags causing some text to run together. For example, from the debate http://www.presidency.ucsb.edu/ws/index.php?pid=21617 a section like:
`<p>Foreign Trade and Domestic Jobs<p>Q. I'd like ...`

is run together and output as:
Forei

[2016-08-01 17:23] joh03067 opened #520 "Frontiers Crawler: Missing sub-domains"
frontiers crawler does not show all sub-domains on the Frontiers Website. Example: Under Humanities and Social Sciences there is no Research Methods and Analytics option which shows up under that header on the website.

[2016-08-01 17:24] joh03067 opened #521 "Frontiers crawler: Help file points to wrong page"
Help file for Frontiers crawler points to the stackexchange crawler help file, not the frontiers one.

[2016-08-01 17:24] joh03067 opened #522 "Frontiers Crawler name is wrong"
Frontiers Crawler is currently called "Frontier" and it should be "Frontiers"

[2016-08-01 17:28] joh03067 opened #523 "Frontiers crawler: No keyword search"
There is no way to limit keywords or authors for the Frontiers crawler like we have for PLOS ONE. We should have similar search options for these two crawlers.

[2016-08-01 17:32] joh03067 opened #524 "Frontiers Crawler: console output"
Print number of files/cases downloaded in the console, and after it finishes print total number of cases downloaded after the finished information and print the name of the corpus too.

[2016-08-01 17:33] joh03067 opened #525 "Corpus Management: Export details in console"
When you export data from corpus management, print that it was successful in the console and also the name/path of the file or folder created.

[2016-08-01 18:13] jgarten commented on #511
Solved in latest build.

[2016-08-01 18:13] #511 closed, assigned to anishgkanchan

[2016-08-01 20:59] #522 closed, assigned to dnishant-zz

[2016-08-01 21:06] #524 closed, assigned to dnishant-zz

[2016-08-01 21:06] #520 closed, assigned to dnishant-zz

[2016-08-02 00:14] joh03067 opened #526 "Corpus Management: csv file summary for export"
When you export as multiple separate files, the files should be named something that makes sense based on the data. Also, a summary csv file should be created with the stored attributes we have for each file in columns (file name, other downloaded characteristics/categories)

[2016-08-02 00:15] joh03067 opened #527 "PLOS crawler: name change"
The PLOS crawler crawls more than just PLOS ONE. Should change name to PLOS.

[2016-08-02 00:16] joh03067 opened #528 "PLOS crawler: link to help file for getting PLOS api key"
There should be a link to the help file when it pops up the PLOS ONE configuration page where the api key needs to be entered so that people can follow instructions on how to find said key and enter it.  Also, can you please write up how exactly to get this key and send it to me so that I can put it into the help file?

[2016-08-02 00:18] joh03067 opened #529 "stackexchange crawler: key help"
There should be a link to the help file when it pops up the stackexchange configuration page where the api key needs to be entered so that people can follow instructions on how to find said key and enter it. Also, can you please write up how exactly to get this key and send it to me so that I can put it into the help file?

[2016-08-02 00:19] joh03067 commented on #525
Can you put the name of the file that is being created too, not just the folder please?

[2016-08-02 00:22] joh03067 opened #530 "Frontiers crawler: stored attributes option"
There are currently no stored attribute options like there is for PLOS ONE crawler. Integrate the same (or as similar as possible) optional stored attributes for this crawler so that it is consistent.

[2016-08-02 00:28] joh03067 opened #531 "PLOS crawler: console information"
Include the total number of cases downloaded after it says the crawler completed successfully.

[2016-08-02 00:32] joh03067 opened #532 "Corpus Management: cases in file"
Is there a way to see how many cases are in the json file downloaded by TACIT's crawlers? The fact that you can't see the total number of cases in the "1 file" that is created makes it difficult to assess how much data you have or if the crawl even worked.

Same thing with importing data. Can you show the number of rows in the csv that count as cases?  So it could say (1 file, 200 cases). This cou

[2016-08-02 00:35] joh03067 opened #533 "Corpus Management: removing corpus doesn't delete corpus"
When you remove a corpus (because it was wrong perhaps) from corpus management, can we provide a pop up box that asks if they would like to delete the json file too?  That way if they want to get rid of the file they can do it right there instead of having to go hunt it down where it saved in the folders to delete it. It has to be deleted to run a new crawl with the same file name.

[2016-08-02 00:39] joh03067 opened #534 "Corpus Management: deleting crawl json/folders doesn't reflect in crawlers"
I ran a crawl. Deleted the folder/json associated with it and the corpus in corpus management. I then tried to run again with the same corpus name, and it said that corpus already existed.  Update corpus management to recognize that it doesn't exist so I can use the same file name.

[2016-08-02 00:40] joh03067 opened #535 "Corpus Management: refresh button"
Add a refresh button to corpus management so that if you have it open and then run a crawl, you can refresh it to see the new crawl in the list of corpora.  Right now, after you crawl, new corpora wont show up until you close corpus management and open it again.

[2016-08-02 00:42] dnishant-zz commented on #525
Done!

[2016-08-02 00:43] joh03067 opened #536 "PLOS crawler: no data downloaded"
I used the word filter "research" and asked the PLOS crawler to return 10 documents. It said it completed successfully, but the json file created was empty.

[2016-08-02 00:44] joh03067 commented on #480
I am not sure. @mdehghanim  ? What is the best way to do this?

[2016-08-02 00:46] #535 closed, assigned to nobody

[2016-08-02 00:50] sagarmakwana commented on #536
@joh03067 I just ran the same case and worked for me. Can you please re run it and check if it still doesn't work.

[2016-08-02 17:01] mdehghanim commented on #480
it should be the p value for the average accuracy across all folds. So you calculate what the average accuracy is, then you calculate its p-value.

[2016-08-02 23:26] dnishant-zz commented on #521
This has been fixed.

[2016-08-02 23:26] #521 closed, assigned to dnishant-zz

[2016-08-02 23:56] dnishant-zz commented on #534
This is done.

[2016-08-02 23:56] #534 closed, assigned to dnishant-zz

[2016-08-03 00:06] dnishant-zz commented on #529
a help button has been added.

[2016-08-03 00:06] #529 closed, assigned to dnishant-zz

[2016-08-03 00:42] sagarmakwana commented on #531
@joh03067 This is resolved. Please check and close it.

[2016-08-03 01:08] sagarmakwana commented on #527
@joh03067 This is resolved. Please check and close it.

[2016-08-03 15:52] joh03067 commented on #527
@sagarmakwana I just downloaded the nightly build and it still says PLOS ONE crawler.

[2016-08-03 15:54] joh03067 commented on #536
With the most recent build it seems to be working now.

[2016-08-03 15:54] #536 closed, assigned to sagarmakwana

[2016-08-03 15:55] #495 closed, assigned to dnishant-zz

[2016-08-03 15:56] joh03067 commented on #531
The current nightly build still does not have this change reflected. Double check it was pushed?

[2016-08-03 18:43] dnishant-zz commented on #533
This should work now! @joh03067 this can be tested

[2016-08-03 21:26] sagarmakwana commented on #528
@joh03067 This issue is resolved and updated in the build.
Also the instructions for getting the API key can be found at
http://api.plos.org/registration

[2016-08-03 21:27] sagarmakwana commented on #527
@joh03067 Its updated in the build now.

[2016-08-03 21:27] sagarmakwana commented on #531
@joh03067 Its updated in the build now.

[2016-08-03 21:32] dnishant-zz commented on #523
Unfortunately, unlike Plos One crawler there is no Api for the frontier crawler and crawling from the site I cannot search for authors or keywords because they use asp.net pages and dynamically generate search results.

[2016-08-04 00:00] anishgkanchan commented on #518
This is solved and can be tested.

[2016-08-04 00:01] anishgkanchan commented on #519
This is solved and can be tested

[2016-08-04 20:18] dnishant-zz opened #537 "Export functionality doesn't work for PLOS One crawler"
I tried export to text using all in different files

[2016-08-04 20:57] anishgkanchan commented on #514
This is solved and can be tested

[2016-08-04 20:57] anishgkanchan commented on #517
This is solved and can be tested

[2016-08-04 21:06] dnishant-zz commented on #537
@sagarmakwana please test and close this

[2016-08-04 21:15] sagarmakwana commented on #537
It works fine.

[2016-08-04 21:15] #537 closed, assigned to nobody

[2016-08-05 01:05] sagarmakwana commented on #480
@joh03067 @mdehghanim  This is done and can be tested.

[2016-08-05 23:42] dnishant-zz commented on #508
@joh03067 please test this

[2016-08-08 01:27] joh03067 opened #538 "Frontiers crawler: missing subdomain"
The Research Methods and Analytics subdomain is missing from the engineering section.

[2016-08-08 01:28] joh03067 opened #539 "Frontiers crawler: Confusing wording"
The Limit pages section says "limit pages per topic", but there is no "topic" option. Do you mean sub-domains? If so, change the wording to be consistent.

[2016-08-08 01:49] joh03067 opened #540 "corpus management: don't create corpus if 0 files"
If you run a crawl and it returns nothing/doesn't write any cases, print that there were 0 cases in the console and do not create a new corpus in corpus management.

[2016-08-08 01:51] #531 closed, assigned to sagarmakwana

[2016-08-08 01:53] joh03067 opened #541 "PLOS Crawler: returns 0 cases"
I tried crawling with the PLOS crawler, and it returned 0 cases. I tried restarting the program, but it still didn't work. Here are the crawling specifications
![plosfail](https://cloud.githubusercontent.com/assets/8532401/17467174/2ecb7670-5cd0-11e6-9c2f-ed43736a7786.jpg)

[2016-08-08 01:54] #533 closed, assigned to dnishant-zz

[2016-08-08 01:54] #528 closed, assigned to sagarmakwana

[2016-08-08 01:55] #527 closed, assigned to sagarmakwana

[2016-08-08 01:55] joh03067 commented on #523
@mdehghanim anything we can do in this situation to make it so people can actually search for specifics?

[2016-08-08 01:57] #525 closed, assigned to dnishant-zz

[2016-08-08 02:06] joh03067 opened #542 "Congress crawler: senator names are not generating"
Senator names do not generate in the congress crawler when you click add.

[2016-08-08 02:07] joh03067 opened #543 "Congress crawler: house of representatives option"
We need to add the capability to download the speeches from the house of representatives (not just the senate).

[2016-08-08 02:09] joh03067 opened #544 "Congress crawler: console information"
Add information into the console about the number of cases it has crawled so far, and then once the crawl is complete print the name of the corpus, the total number of cases crawled, and that it was successful.  See reddit console during crawl for example of how it should look.

[2016-08-08 02:11] joh03067 opened #545 "congress crawler: keyword search"
Is it possible to do a keyword search with the congress crawler? If not, you can just close this issue. If yes, it would be helpful to incorporate that into this crawler.

[2016-08-08 02:12] joh03067 opened #546 "Corpus Management: corpus doesn't show up in corpus management"
When you successfully complete a crawl (I tried with both congress crawler and stackexchange), the corpus that is created doesn't show up in corpus management if you already had the plugin open. You have to close corpus management and reopen it for it to show up.  Corpus should automatically show up without having to close the plugin.

[2016-08-08 02:17] joh03067 opened #547 "stackexchange Crawler: console information"
Add information about crawls to the console so they know what number of cases it has crawled so far, and then when the crawl is complete, print the name of the corpus that has been created, the total number of cases in the file, and that it was successful. See reddit console during crawl for example of how it should look.

[2016-08-08 02:21] joh03067 opened #548 "stackexchange crawler: keyword search doesn't work"
![plosfail](https://cloud.githubusercontent.com/assets/8532401/17467539/1d5361b0-5cd4-11e6-92ef-3e0e44f85466.jpg)
I ran the stackexchange crawler with just a domain and no keyword and it downloaded data. However, when I tried searching with a keyword it returned no cases. I've pasted the search specifics below.

[2016-08-08 02:24] joh03067 opened #549 "Crawler Console: standardize"
All crawlers should print the same information to the console during crawl and at the end of successful crawls.  Please use the Reddit crawler console output as a template and apply to all other crawlers.

[2016-08-08 02:26] joh03067 opened #550 "Corpus management: CSV export doesn't work"
When I click on export and select csv, it doesn't do anything. It doesn't give me an error, and it doesn't create a CSV file.

[2016-08-08 02:28] joh03067 opened #551 "Corpus management: console output upon successful export"
When an export of a corpus is complete, print in the console that you have successfully exported the data the file or folder path/name that was created, and the total number of files created.

[2016-08-08 18:31] sagarmakwana commented on #550
CSV functionality has not been implemented yet. It will be done this week.

[2016-08-08 18:53] dnishant-zz commented on #548
The keyword search is based on tags, here are a list of words for ACADEMIA.
http://academia.stackexchange.com/tags
It returns results only when a valid tag is searched for otherwise it will return an empty file.

[2016-08-08 18:53] #548 closed, assigned to dnishant-zz

[2016-08-08 19:27] sagarmakwana commented on #541
@joh03067 I am not sure what is causing it. I took a latest build and ran with the same input, it runs for me. May be I am guessing that there is some internet issue. I would like to run it on your PC and figure out the reason.

[2016-08-08 19:30] joh03067 commented on #541
Maybe try running it with your internet disconnected and see if it
generates a 0 file corpus as well? If it does, there should be an error
that says the internet is disconnected and it shouldn't run/generate
corpora. I'll try it again now that I'm on campus.

On Mon, Aug 8, 2016 at 12:27 PM, Sagar Makwana notifications@github.com
wrote:

##

##

Kate Johnson, M.A.
Social Psychology Graduate Studen

[2016-08-08 19:37] sagarmakwana opened #552 "Crawler for GovTrack API."
https://www.govtrack.us/developers

[2016-08-08 19:51] sagarmakwana commented on #541
@joh03067 I tried switching off my wifi. It gave an error message saying "There seems to be no internet connection." . So there is definitely some other issue. Please re run it and let me know if it still doesn't work.

[2016-08-08 20:32] dnishant-zz commented on #538
This is done!

[2016-08-08 20:32] #538 closed, assigned to dnishant-zz

[2016-08-08 20:32] dnishant-zz commented on #530
This is done!

[2016-08-08 20:32] #530 closed, assigned to dnishant-zz

[2016-08-08 20:35] #539 closed, assigned to dnishant-zz

[2016-08-08 20:46] dnishant-zz commented on #546
There is a refresh button below the export button that will update the corpora.

[2016-08-08 20:55] sagarmakwana commented on #540
This is handled for PLOS and Typepad.
@anishgkanchan @dnishant Please check it for your respective crawlers.

[2016-08-08 21:53] #546 closed, assigned to dnishant-zz

[2016-08-08 22:17] dnishant-zz commented on #547
This is done!

[2016-08-08 22:17] #547 closed, assigned to dnishant-zz

[2016-08-09 01:11] #514 closed, assigned to anishgkanchan

[2016-08-09 01:11] #517 closed, assigned to anishgkanchan

[2016-08-09 01:12] #518 closed, assigned to anishgkanchan

[2016-08-09 01:12] #519 closed, assigned to anishgkanchan

[2016-08-09 01:20] anishgkanchan commented on #501
This is done. @joh03067 can you please test this?

[2016-08-15 22:25] StephenJRead opened #553 "Can't start program after update"
I just opened TACIT and then upgraded it.  It did not restart on its own and when I tried to start it I got the following message.  I’m running this on a new MacBook Pro using Yosemite.

"The Tacit executable launcher was unable to locate its companion shared library."  I

[2016-08-15 22:52] mdehghanim commented on #553
This is most probably due to a major change that we had to do in Spring 2016. TACIT now requires JAVA 7 (or 8). Can you please check if you have JRE 7 installed?

[2016-08-17 16:00] mdehghanim commented on #553
After updating Java and reinstalling TACIT, this issue was solved.

[2016-08-17 16:00] #553 closed, assigned to nobody

[2016-08-17 23:02] sagarmakwana commented on #502
@mdehghanim This can be tested.

[2016-08-17 23:02] sagarmakwana commented on #550
@joh03067 @mdehghanim This can be tested

[2016-08-17 23:02] sagarmakwana commented on #551
@joh03067 @mdehghanim This is done and can be tested

[2016-08-17 23:03] sagarmakwana commented on #540
@joh03067 @mdehghanim  This is done and can be tested

[2016-08-17 23:21] jgarten opened #554 "Separate paragraphs by newlines rather than spaces in Presidential crawler"
This is an update to issue #519. Currently paragraphs are replaced by spaces. Please change this to newlines.

[2016-08-18 03:31] mdehghanim commented on #549
@dnishant is this done? Can it be tested?

[2016-08-18 03:31] mdehghanim commented on #545
@dnishant if this can't be done, close. If it's done, please assign for testing

[2016-08-18 03:32] mdehghanim commented on #544
@dnishant is this done?

[2016-08-18 03:32] mdehghanim commented on #543
@dnishant is this done? if so, please assign for testing

[2016-08-18 03:33] mdehghanim commented on #542
@dnishant if this can't be fixed, please comment and close

[2016-08-18 03:33] mdehghanim commented on #541
@joh03067 please let us know if the issue persists

[2016-08-18 03:34] mdehghanim commented on #523
we are limited by the API... I don't think we can currently do anything

[2016-08-18 03:38] #523 closed, assigned to dnishant-zz

[2016-08-18 03:38] mdehghanim commented on #508
@boqrat Can you please test this as well?

[2016-08-18 03:39] mdehghanim commented on #502
@joehoover can you please test this?

[2016-08-19 17:02] joh03067 opened #555 "Corpus Management: Deletes everything off of my computer at text file export"
Its official. Its corpus management thats doing it. When I try to export a corpus to separate text files it freezes and deletes out everything on my computer. It has done it three times now, and I did a full factory reinstall on my pc (and it was working fine).

[2016-08-19 17:05] mdehghanim commented on #555
@joh03067 we'll check this. But it could be that there is something wrong with a particular section of your hard-drive, and TACIT writes to that section, therefore the crash.

[2016-08-19 17:06] joh03067 commented on #555
But export using csv to the same spot is fine...

On Aug 19, 2016 10:05 AM, "mdehghanim" notifications@github.com wrote:

[2016-08-20 20:34] dnishant-zz commented on #549
This is done.

[2016-08-20 20:35] dnishant-zz commented on #545
This is done. @sagarmakwana could you please test it

[2016-08-20 20:35] dnishant-zz commented on #544
This is done and can be tested

[2016-08-20 20:36] dnishant-zz commented on #543
@joh03067 this can be tested.

[2016-08-20 20:36] dnishant-zz commented on #542
The names are generated now.

[2016-08-20 20:36] #542 closed, assigned to dnishant-zz

[2016-08-22 03:53] joh03067 commented on #551
@sagarmakwana please assign to someone else since I currently cannot test corpus management.

[2016-08-22 03:56] joh03067 commented on #543
@dnishant  This is not in the current nightly project build. The build I can see still only has senators listed.

[2016-08-22 03:58] joh03067 commented on #541
@sagarmakwana Its working now.

[2016-08-22 03:58] #541 closed, assigned to sagarmakwana

[2016-08-22 03:58] joh03067 commented on #540
@sagarmakwana assign to someone else since I cannot test corpus management right now.

[2016-08-22 03:59] #494 closed, assigned to sagarmakwana, joh03067

[2016-08-22 04:10] joh03067 opened #556 "Hansard Crawler: Standardize to be similar to congress crawler"
Specifically, Input parameters should include selecting either house of lords or house of commons. or both.

Then they should be able to select current members, previous members, or both. (https://hansard.parliament.uk/search/Members?house=commons&currentFormerFilter=1)

Then, they should be able to do either a keyword search, or a house member search.

If they choose keyword, have the button next

[2016-08-22 04:11] joh03067 commented on #289
@mdehghanim @dnishant can you please assign this to someone else because I cannot test corpus management right now?

[2016-08-22 04:17] joh03067 opened #557 "SVM Classifier: cross fold validation doesnt work with classes"
I have two classes created using TACITs crawlers with 25 cases in each class. When I try to run it with 5 cross fold validation, it tells me that the K value cannot be greater than the number of files in any of the classes.  So its only recognizing one case per corpus class, instead of all of them.

[2016-08-22 04:17] joh03067 commented on #490
works

[2016-08-22 04:17] #490 closed, assigned to sagarmakwana

[2016-08-22 04:19] joh03067 commented on #549
@dnishant some of the crawlers print a line saying the details of each case as its saving them into the JSON file and some do not.  I think all should print something about the cases that its saving so that people can tell its still working.

[2016-08-22 04:20] joh03067 commented on #545
@dnishant This is still not showing up in the nightly build. Does it need to be updated?

[2016-08-22 04:20] joh03067 commented on #480
done

[2016-08-22 04:20] #480 closed, assigned to sagarmakwana

[2016-08-22 17:51] boghrati commented on #508
The crawler is running but the progress bar doesn't show anything (I know it's crawling by looking at the jason_corpuses folder).
There is no specify date range option anymore. Right now, the smallest time range is 2-years periods, but I think 1-year periods are more useful.

[2016-08-22 18:18] boghrati commented on #508
After running for a while, I got the same error again.

[2016-08-22 19:54] dnishant-zz commented on #549
@anishgkanchan @sagarmakwana Standardize the output for your respective crawlers.

[2016-08-22 21:35] joehoover commented on #502
Using the latest build (downloaded 8/22/16) and a test corpus generated from a reddit crawl (corpus is attached), I observed the error, 'Could not create R Dataframe due to an internal error.' when trying to export to R data frame.

[rdatatest.zip](https://github.com/USC-CSSL/TACIT/files/431178/rdatatest.zip)

[2016-08-22 22:23] sagarmakwana commented on #502
@joehoover  @mdehghanim I am aware about this problem. The thing with Reddit is that there is no proper format(column headers ) for the json file that gets stored so it is difficult to make a dataframe out of it. So we can decide what to output when Reddit corpus is selected. I am also not sure if this reddit issue should be in Beta 3.5 or not. Please let me know. It works for every other crawler

[2016-08-22 22:27] mdehghanim commented on #502
@sagarmakwana if you are aware of this issue, then why mark the issue as tastable? Let the issue remain open until we can fix it.

[2016-08-22 22:55] sagarmakwana commented on #502
@mdehghanim  I realized this when I was testing it myself last Friday. Took a while to figure out the issue.

[2016-08-23 00:20] sagarmakwana commented on #549
@dnishant This is done for Typepad and PLOS crawler in commit 071ea4b

[2016-08-23 03:01] dnishant-zz commented on #545
Hi this was an issue with the build, nightly builds do not happen anymore. I made a build right now and this feature should work now.

[2016-08-23 21:19] #386 closed, assigned to nobody

[2016-08-23 22:02] dnishant-zz commented on #508
Unfortunately I cannot filter by date, because the new website does not allow data to be scraped that way.

[2016-08-23 22:43] sagarmakwana commented on #557
@joh03067 Can you test this. The problem is solved.

[2016-08-24 20:38] anishgkanchan commented on #554
Even if I replace the spaces with newline characters (\n), the new line would not be visible in the Json file. A '\n' would appear and this may cause problems if any analysis is performed on it.

[2016-08-25 16:52] mdehghanim commented on #526
@dnishant is this done?

[2016-08-25 16:52] mdehghanim commented on #508
@dnishant is this done? Can it be tested now?

[2016-08-25 16:53] mdehghanim commented on #554
@anishgkanchan Can this be tested now?

[2016-08-25 16:54] mdehghanim commented on #555
@anishgkanchan can this be safely tested now?

[2016-08-25 17:30] anishgkanchan commented on #554
Yes this can be tested

[2016-08-25 17:49] boghrati commented on #508
It's fixed.

[2016-08-25 17:49] #508 closed, assigned to dnishant-zz

[2016-08-25 18:10] jgarten opened #558 "Presidential Crawler requiring dates"
The presidential crawler is now returning no results unless dates are specified. This had been previously addressed by issue #517. After that was fixed, the crawler downloaded all available documents if no dates were specified.

If this is not just a bug and the new pattern is to require dates, then the "Specify Date Range" and "Specify Date" need to be changed to radio boxes with one selected by

[2016-08-25 18:27] jgarten opened #559 "Presidential Crawler: "Output Details" invisible before run"
In the presidential crawler, when you open it and select the information for a run, the "Output Details" Section is invisible.

When you try to start a run the error message "Provide corpus name" shows up and the "Output Details" section becomes visible.

Observed on Linux64 build on Ubuntu

![beforerun](https://cloud.githubusercontent.com/assets/41843/17980972/848a8666-6ab6-11e6-9a49-4cf777edb64c

[2016-08-25 18:33] jgarten commented on #554
Working on Linux64 build. Thanks.

[2016-08-25 18:33] #554 closed, assigned to anishgkanchan

[2016-08-25 20:04] joh03067 commented on #556
also note that the buttons are for run and help are broken. They just look like red boxes.

[2016-08-25 20:08] #557 closed, assigned to sagarmakwana

[2016-08-26 01:51] dnishant-zz commented on #555
@mdehghanim This is fixed and can be tested now.

[2016-08-26 03:10] anishgkanchan commented on #558
This is fixed. I ran it with various combinations of inputs such as search term + doc category, search term + doc category + president, search term + doc category + president + date range/specific date, doc category, doc category + date range etc. and it worked fine.
This can be now tested.

[2016-08-26 03:34] anishgkanchan commented on #559
This is not occurring on my machine. Can you please try it again? Had a crawling failed after which the corpus name field went invisible?

[2016-08-26 17:27] jgarten commented on #558
Tested.

[2016-08-26 17:27] #558 closed, assigned to anishgkanchan

[2016-08-26 17:35] jgarten commented on #559
I've tested this on three machines. It's not showing up on Mac or Windows, only on Liunx64 (Ubuntu 14.04). Even there, it's only showing up the first time the program is opened and the first time the crawler is run so at very least it won't affect many people.

[2016-08-26 22:12] sagarmakwana commented on #549
@joh03067  Please test this and close the issue before release of Beat 3.5 on 08/29.

[2016-08-26 22:12] sagarmakwana commented on #551
@joh03067  Please test this and close the issue before release of Beat 3.5 on 08/29.

[2016-08-26 22:21] sagarmakwana commented on #540
@joh03067  Please test this and close the issue before release of Beat 3.5 on 08/29.

[2016-08-28 21:58] joh03067 commented on #550
When I try to export as CSV or R dataframe the options are not available.
![untitled](https://cloud.githubusercontent.com/assets/8532401/18037056/e31b518a-6d2f-11e6-94f3-dd09501d904c.jpg)

[2016-08-28 22:00] sagarmakwana commented on #550
@joh03067 Those features are  going to be available in V1 release. So it's disabled for now.

[2016-08-28 22:03] joh03067 opened #560 "Corpus Mangement: add restructure option"
For V1 perhaps? Right now, there's no way to create a new class using a subsection of data you crawled using TACIT. Ideally, we should be able to create a new class using an existing corpus, select a column to use as the class identifier, then have it create a separate class for each level of that column.

Similarly, if you upload data from a csv, it would be nice if you could specify both the col

[2016-08-28 22:06] #555 closed, assigned to dnishant-zz

[2016-08-28 22:06] joh03067 commented on #551
@sagarmakwana I tested this for text export, but cannot test it for r and csv export as neither of these types of export are working.

[2016-08-28 22:08] joh03067 opened #561 "presidential crawler: no limit results"
Standard across all crawlers, there should be a limit number of results downloaded option.

[2016-08-28 22:10] joh03067 opened #562 "Presidential Crawler: prints complete twice"
The presidential crawler prints that the crawler completed successfully twice.

"Created Corpus: pres_1472422198692
American Presidential Papers crawler completed successfully.
Done
American Presidency crawler completed successfully."

[2016-08-28 22:12] joh03067 commented on #540
@sagarmakwana In the PLOS crawler, it doesn't make a new corpus, but it says that it does. It should say corpus not created.

"
No document found in the search result.
0 paper(s) downloaded.
Created corpus: plostest1
PLOS crawler completed successfully.
Done
"

[2016-08-28 22:15] joh03067 opened #563 "PLOS crawler: don't say you made a new corpus when 0 files downloaded"
@sagarmakwana In the PLOS crawler, it doesn't make a new corpus, but it says that it does. It should say corpus not created.

"
No document found in the search result.
0 paper(s) downloaded.
Created corpus: plostest1
PLOS crawler completed successfully.
Done
"

[2016-08-28 22:16] joh03067 commented on #540
@sagarmakwana reddit has the same problem, except that one ALSO creates a corpus (even though it doesn't add it to the list of corpora), which then doesn't let you crawl again without going manually and deleting it from the list in the folder.

"Writing C:\Users\Kate\Documents\CSSL\tacit-win32.win32.x86_64\json_corpuses\reddit\reddit\reddit_class1\SearchResults-08-28-16-15-14-16.txt
Total no.of.fi

[2016-08-28 22:17] joh03067 opened #564 "Reddit crawler: don't create 0 file corpus"
@sagarmakwana reddit has the same problem, except that one ALSO creates a corpus (even though it doesn't add it to the list of corpora), which then doesn't let you crawl again without going manually and deleting it from the list in the folder.

"Writing C:\Users\Kate\Documents\CSSL\tacit-win32.win32.x86_64\json_corpuses\reddit\reddit\reddit_class1\SearchResults-08-28-16-15-14-16.txt
Total no.of.fi

[2016-08-28 23:21] joh03067 commented on #549
@sagarmakwana Stack exchange does not print what it is crawling as its going.

[2016-08-28 23:26] joh03067 opened #565 "stackexchange crawler: do not create json when 0 files"
I ran a crawl. Then, I put in a jibberish word (setogea) to search for in the stackexchange crawler so that I could get it to return null results (to test that it won't make a corpus when no files).

It printed out the same number of files in the previous crawl, said it was successful, and created an empty JSON corpus.

"
60 case(s) downloaded
Created corpus: stack1
Done
StackExchange crawler comp

[2016-08-28 23:27] joh03067 commented on #550
Ok, then make sure you tell me when it should be tested again, as it is currently unable to be tested.

[2016-08-28 23:28] joh03067 commented on #540
@sagarmakwana issues with stackexchange too. created new issue

[2016-08-28 23:29] joh03067 commented on #540
@sagarmakwana TypePad has the same issue as PLOScrawler

[2016-08-28 23:30] joh03067 opened #566 "Edit New issue PLOS crawler: don't say you made a new corpus when 0 files downloaded"
When crawler retrieves 0 files, it prints this out:

No blog posts found in the search result.
Created corpus: typepad1
TypePad crawler completed successfully.
Done

It doesn't actually create the corpus though, so it shouldnt say that it does.

[2016-08-28 23:32] joh03067 opened #567 "Congress crawler: senators should be Congress Member"
Change the "Senators:" label to the left of the box to "Congress Members" or something like that, since it could be senators OR house representatives.

[2016-08-28 23:34] joh03067 opened #568 "Congress crawler: print name of corpus on completion"
When its finished crawling, print the name of the corpus (standardize so its the same as the other crawlers).

[2016-08-28 23:37] #551 closed, assigned to sagarmakwana

[2016-08-28 23:37] #543 closed, assigned to dnishant-zz

[2016-08-29 04:55] sagarmakwana commented on #549
@dnishant Please address the issue.

[2016-08-29 18:56] anishgkanchan commented on #562
This was solved and can be tested

[2016-08-29 18:58] anishgkanchan commented on #561
This was solved and can be tested

[2016-08-29 19:18] sagarmakwana commented on #566
@joh03067 This is solved

[2016-08-29 19:18] sagarmakwana commented on #563
@joh03067 It is solved

[2016-08-29 19:20] dnishant-zz commented on #567
this is done!

[2016-08-29 19:20] #567 closed, assigned to dnishant-zz

[2016-08-29 19:38] anishgkanchan commented on #556
I'm working on these changes, but I'll have to remove the date option which exists in the current version of the crawler.

[2016-08-29 19:40] joh03067 commented on #556
Could you have two versions like we do for some others where you can rust
search by date or the other way?

On Aug 29, 2016 12:38 PM, "Anish Kanchan" notifications@github.com wrote:

[2016-08-29 19:48] anishgkanchan commented on #556
In that case, I can keep the existing code as it is. This option would just have the search and date feature. This would have the limit records by MP option. Here is the website link for the same: https://hansard.parliament.uk/search/Debates?house=commons
I'll then add separate options of search by keyword and search by MP, which would have the limit records feature. But then the date option would

[2016-08-29 20:05] anishgkanchan commented on #513
I tried this. But I noticed that not all the debates are properly formatted, to allow me to break the results by speaker.
For eg. 1. Some of them have a semicolon after the speaker name - http://www.presidency.ucsb.edu/ws/index.php?pid=85192&st=&st1=
2. While some others have just a period after the speaker's name in italics -
http://www.presidency.ucsb.edu/ws/index.php?pid=52060&st=&st1=
3. While

[2016-08-29 21:26] dnishant-zz commented on #549
This is done!

[2016-08-29 21:26] #549 closed, assigned to anishgkanchan, sagarmakwana, dnishant-zz

[2016-08-29 22:00] dnishant-zz commented on #562
This is done

[2016-08-29 22:00] #562 closed, assigned to dnishant-zz

[2016-08-29 22:02] dnishant-zz commented on #544
This is done!

[2016-08-29 22:02] #544 closed, assigned to dnishant-zz

[2016-08-29 22:02] anishgkanchan commented on #568
This has been tested

[2016-08-29 22:02] #568 closed, assigned to dnishant-zz

[2016-08-29 22:03] anishgkanchan commented on #565
This has been tested

[2016-08-29 22:03] #565 closed, assigned to dnishant-zz

[2016-08-29 22:04] dnishant-zz commented on #563
It has been tested.

[2016-08-29 22:04] #563 closed, assigned to sagarmakwana, dnishant-zz

[2016-08-29 22:10] anishgkanchan commented on #526
This has been tested

[2016-08-29 22:10] #526 closed, assigned to dnishant-zz

[2016-08-29 22:12] anishgkanchan commented on #545
This has been tested

[2016-08-29 22:12] #545 closed, assigned to dnishant-zz

[2016-08-30 03:06] dnishant-zz commented on #566
This is working fine.

[2016-08-30 03:06] #566 closed, assigned to sagarmakwana

[2016-08-30 03:07] sagarmakwana commented on #564
@dnishant This is solved and can be tested.

[2016-08-30 03:08] dnishant-zz commented on #564
Works fine now.

[2016-08-30 03:08] #564 closed, assigned to sagarmakwana

[2016-08-30 03:09] sagarmakwana commented on #540
Everything works fine now.

[2016-08-30 03:09] #540 closed, assigned to anishgkanchan, sagarmakwana, dnishant-zz

[2016-08-30 20:06] mdehghanim commented on #560
@joh03067 we discussed this, and it seems that this will be very difficult to do in the current state of the program. Instead, we decided to have an option in corpus management, where users can query an existing corpus, and save the results as a different class, or a different corpus.

[2016-08-30 20:06] #560 closed, assigned to dnishant-zz

[2016-08-30 20:07] mdehghanim opened #569 "query option in corpus management"
have an option in corpus management, where users can query an existing corpus, and save the results as a different class, or a different corpus.

[2016-08-30 20:08] mdehghanim opened #570 "plugin icons"
Each plugin needs to have a unique icon

[2016-09-02 09:20] anishgkanchan commented on #570
This is done

[2016-09-02 09:20] #570 closed, assigned to anishgkanchan

[2016-09-02 20:29] mdehghanim opened #571 "save corpus as Python Object"

[2016-09-02 20:48] #350 closed, assigned to dnishant-zz

[2016-09-29 03:23] mdehghanim commented on #561
@joh03067 can you please test?

[2016-09-29 03:26] mdehghanim commented on #550
@sagarmakwana has this been implemented now?

[2016-09-29 03:26] mdehghanim commented on #502
@sagarmakwana is this done?

[2016-09-29 03:27] mdehghanim commented on #501
@anishgkanchan is Hansard fully done now?

[2016-09-29 03:30] mdehghanim commented on #552
@anishgkanchan what is the status of this crawler?

[2016-09-29 03:30] mdehghanim commented on #532
@dnishant what is the status of this?

[2016-09-29 05:30] anishgkanchan commented on #501
The crawler is complete, but I have to discuss the corpus management portion of it with Kate because the crawler is now saving information in 2 different formats (as opposed to 1 earlier.) I'll do it tomorrow.

[2016-09-29 05:31] anishgkanchan commented on #552
I have not yet begun working on this yet.

[2016-10-04 23:16] dnishant-zz opened #572 "Congress Crawler does not work"
Due to changes in the site, the crawler stopped working and returns no data.

[2016-10-04 23:17] dnishant-zz commented on #572
This has been fixed

[2016-10-04 23:17] #572 closed, assigned to nobody

[2016-10-20 17:47] mdehghanim opened #573 "LIWC wordcount errors if emoticons are included in the dictionary"
Please make sure that if these categories are added to a dictionary it can be handled by the LIWC wordcount plugin.

(:  30  31  120 122
(;  120 122
):  30  32  120 122
/:  120 122
:(  30  32  120 122
:)  30  31  120 122
:/  120 122
;)  120 122

[2016-10-24 09:27] anishgkanchan commented on #556
This is done and can be tested

[2016-10-24 09:27] anishgkanchan commented on #513
This is done and can be tested

[2016-10-24 09:28] anishgkanchan commented on #151
What exactly is needed here?

[2016-10-24 09:29] #501 closed, assigned to anishgkanchan

[2016-10-24 09:29] #561 closed, assigned to anishgkanchan

[2016-10-24 21:52] anishgkanchan opened #574 "Break by speaker in Hansard crawler"
Kate had asked me to separate the speakers from their text for some data collection, so I have put that in the crawler.

[2016-10-24 21:52] anishgkanchan commented on #574
This is solved

[2016-10-24 21:52] #574 closed, assigned to nobody

[2016-10-25 03:42] mdehghanim opened #575 "new build does not work"
I get the companion shared library not found error
<img width="473" alt="screen shot 2016-10-24 at 3 21 32 pm" src="https://cloud.githubusercontent.com/assets/6384236/19672330/561555d8-9a2a-11e6-95be-c56b02496f21.png">

[2016-10-26 02:57] anishgkanchan commented on #552
This is done and can be tested.

[2016-10-28 01:34] anishgkanchan commented on #573
This is solved. Support for the following emoticons is added - { :) , (: , (: , ): , :/ , /: , ;) , (; }

[2016-10-28 01:34] #573 closed, assigned to anishgkanchan

[2016-10-28 04:52] mdehghanim commented on #575
This happened after a mac update. Apparently the updated either removed java or changed some paths. The issue was resolved after java re-install.

[2016-10-28 04:52] #575 closed, assigned to nobody

[2016-10-28 20:22] #559 closed, assigned to anishgkanchan

[2016-10-29 00:39] anishgkanchan commented on #516
This is done and can be tested

[2016-11-01 21:14] anishgkanchan opened #576 "R Export error for Frontiers Journal crawler"
The following message was displayed at the console

ROBJ format selected
org.renjin.parser.ParseException: Syntax error at line 2 char 7-line 2 char 18: syntax error, unexpected SYMBOL, expecting '\n' or ';'

	at org.renjin.parser.RParser.parseAll(RParser.java:144)
	at org.renjin.parser.RParser.parseSource(RParser.java:74)
	at org.renjin.parser.RParser.parseSource(RParser.java:117)
	at org.renjin.

[2016-11-01 21:30] anishgkanchan opened #577 "Export as text gives error for Reddit crawler"
Following message was displayed on the console:

Crawling comments :/r/tifu/comments/3rra0w/tifu_by_pranking_my_sisterinlaw/
Crawling comments :/r/AskMen/comments/47buzr/how_do_you_deal_with_the_hi_text/
how_do_you_deal_with_the_hi_text-11-01-16-14-27-0559be190a-1ae5-48ea-ad04-17514821a011.json
SearchResults-11-01-16-14-27-05.txt
tifu_by_pranking_my_sisterinlaw-11-01-16-14-27-05b9ca9c8a-9a1f-4b9c-

[2016-11-01 21:35] anishgkanchan opened #578 "Stack exchange crawler error"
The following error was displayed on the console:

retrofit2.OkHttpCall@3b0005a8
null
Crawling failed. Provide valid data
java.lang.NullPointerException
	at edu.usc.cssl.tacit.crawlers.stackexchange.services.StackExchangeCrawler.getTaggedPost(StackExchangeCrawler.java:508)
	at edu.usc.cssl.tacit.crawlers.stackexchange.services.StackExchangeCrawler.search(StackExchangeCrawler.java:89)
	at edu.usc.c

[2016-11-01 22:10] anishgkanchan commented on #576
The same error occurred even for the following crawlers:

UC Santa Barbara Crawler
Hansard Crawler
US Congress Crawler

The following crawlers worked fine:

GovTrack
PLOS One
Reddit
Twitter
Typepad

Latin crawler does not create a corpus, so R export for that remains to be tested.

R export for StackExchange crawler also remains to be tested because of issue #578

[2016-11-04 19:13] mdehghanim commented on #516
@dnishant can you please test this?

[2016-11-04 19:14] mdehghanim commented on #578
@dnishant can you please look in to this?

[2016-11-04 19:15] mdehghanim commented on #577
@dnishant can you please look in to this?

[2016-11-04 19:15] mdehghanim commented on #576
@sagarmakwana please look in to this

[2016-11-04 19:17] mdehghanim commented on #569
@dnishant if this is done please assign it to @anishgkanchan to test

[2016-11-04 19:17] mdehghanim commented on #556
@dnishant can you please test this?

[2016-11-04 19:17] mdehghanim commented on #552
@dnishant can you please test this?

[2016-11-04 19:18] mdehghanim commented on #550
@anishgkanchan can you please test this?

[2016-11-04 19:19] mdehghanim commented on #532
@dnishant what is the status of this?

[2016-11-04 19:19] mdehghanim commented on #513
@dnishant can you please test this?

[2016-11-04 19:20] mdehghanim commented on #151
@anishgkanchan if this is done please assign it to @dnishant to be tested

[2016-11-04 21:25] dnishant-zz commented on #532
@mdehghanim I haven't started this yet. I'll start it once I resolve the bugs.

[2016-11-04 22:03] dnishant-zz commented on #569
@anishgkanchan please test this

[2016-11-04 22:18] dnishant-zz commented on #578
This works for the build.

[2016-11-04 22:18] #578 closed, assigned to dnishant-zz

[2016-11-04 23:40] anishgkanchan commented on #151
I have created a webpage to generate a dendrogram. I haven't made any changes to Tacit.
@dnishant please test

[2016-11-04 23:45] anishgkanchan commented on #550
I have tested this. It works fine.

[2016-11-04 23:45] #550 closed, assigned to sagarmakwana

[2016-11-05 01:04] sagarmakwana commented on #576
@mdehghanim Fixing it.

[2016-11-07 17:18] hanmiche opened #579 "Help Button Malfunctioning"
<img width="957" alt="screen shot 2016-11-02 at 11 26 13 am" src="https://cloud.githubusercontent.com/assets/22923822/20067707/214a93c6-a4cb-11e6-920b-097fc67febfa.png">
When using Presidential Papers crawler, the help button on the top right hand corner does not work.

[2016-11-07 22:04] sagarmakwana commented on #576
@anishgkanchan I tried running it and it worked fine. Can you help me recreate the bug.

[2016-11-07 22:40] dnishant-zz commented on #577
@anishgkanchan this has been resolved. Please sync and test.

[2016-11-07 23:03] dnishant-zz commented on #516
This is done!

[2016-11-07 23:03] #516 closed, assigned to anishgkanchan

[2016-11-07 23:56] brownam23 opened #580 "Error message: dictionary not in .txt format"
when trying to use MFD.dic, error message comes up (first screenshot). When I click ok, analysis does not run, error message (top right of second screenshot in red) dictionary not in .txt format. Happens with any corpus that is input

![screenshot 49](https://cloud.githubusercontent.com/assets/22923421/20081148/7bc7e11e-a502-11e6-8f4b-87f70c383492.png)

![screenshot 50](https://cloud.githubusercon

[2016-11-08 00:47] brownam23 opened #581 "tiny go button"
Windows 10 OS, go button and help button are TINY
![screenshot 53](https://cloud.githubusercontent.com/assets/22923421/20082324/e0e0f836-a509-11e6-9cf9-fa54dbfc5745.png)

[2016-11-08 00:49] brownam23 opened #582 "error message: directory not spelled correctly"
Error message after page title, directory spelled "diretory"

![screenshot 52](https://cloud.githubusercontent.com/assets/22923421/20082338/03e1abe6-a50a-11e6-99d4-6f64bda914a7.png)

[2016-11-08 00:53] brownam23 opened #583 "TACIT exports empty folders"
When exporting a corpus onto desktop, folder exports and exists, but is empty. Happens for multiple corpuses, folders are always empty
using windows 10, most recent update
using TACIT version that is on tacit website
![screenshot 55](https://cloud.githubusercontent.com/assets/22923421/20082406/72a19406-a50a-11e6-8d11-16ec805665c4.png)
![screenshot 56](https://cloud.githubusercontent.com/assets/229

[2016-11-10 00:23] anishgkanchan commented on #582
This has been solved

[2016-11-10 00:23] #582 closed, assigned to anishgkanchan

[2016-11-10 00:27] anishgkanchan commented on #569
This works fine

[2016-11-10 00:27] #569 closed, assigned to anishgkanchan, dnishant-zz

[2016-11-11 03:19] anishgkanchan opened #584 "Remove Query corpus option from the main view"
The Query corpus button works only when the corpus class is selected. If the corpus is selected, then the button does nothing. So it can be made visible, only when the class is selected.

[2016-11-11 03:21] anishgkanchan commented on #577
This works fine

[2016-11-11 03:21] #577 closed, assigned to dnishant-zz

[2016-11-11 03:29] anishgkanchan commented on #576
This is the input I had provided to the crawler:

<img width="1280" alt="screen shot 2016-11-10 at 7 28 26 pm" src="https://cloud.githubusercontent.com/assets/2355327/20203412/e99f3d9c-a77b-11e6-950e-60cf5021924b.png">

[2016-11-11 03:30] anishgkanchan commented on #576
On trying to export the generated corpus, the same error message is printed on the console.

[2016-11-11 20:56] dnishant-zz commented on #556
This works fine

[2016-11-11 20:56] #556 closed, assigned to anishgkanchan, dnishant-zz

[2016-11-11 22:10] anishgkanchan commented on #581
I tested this on a Windows 10 machine, and this problem doesn't occur. Could you please the screen specifications of your machine (resolution etc.)?
![screenshot](https://cloud.githubusercontent.com/assets/2355327/20231661/64579cb8-a818-11e6-8b4d-8368265a42e2.png)

[2016-11-15 02:51] mdehghanim opened #585 "Word Count Fails on Chinese text"
![qq 20161115095742](https://cloud.githubusercontent.com/assets/6384236/20291471/63aa73e6-aa9b-11e6-9bb9-b35e996100b6.png)
![qq 20161115095936](https://cloud.githubusercontent.com/assets/6384236/20291474/65311486-aa9b-11e6-847f-d96ad6c85545.png)

[2016-11-15 19:28] brownam23 commented on #581
the resolution is 3200 x 1800
the model I'm using is a Lenovo Yoga 900 (13") if that helps at all

[2016-11-16 01:22] anishgkanchan commented on #585
As of now, this has been solved for the Tacit word count

[2016-11-16 08:59] Karing2016 commented on #585
Exciting! So I need to download the latest version of TACIT?

[2016-11-16 20:40] mdehghanim commented on #585
I will send you a link to our private nightly build so that this can be tested. We will publicly release this version later in December.

[2016-11-17 00:15] anishgkanchan commented on #585
If the output files are opened using Notepad (Windows) or TextEdit (Mac), the Chinese characters will appear properly.
If Excel is used to open the files, then the UTF-8 encoding scheme must be used for the import. This video shows how to do the same - https://www.youtube.com/watch?v=QNLSBSCN_sY

[2016-11-17 00:36] Karing2016 commented on #585
Ok, I will try to open the output files using Notepad++. Thanks a lot!

[2016-11-17 00:58] Karing2016 commented on #585
![image](https://cloud.githubusercontent.com/assets/23471386/20371941/ee1e33f6-aca2-11e6-945d-b91dff7cf500.png)
I am sorry to report that I try  to change the encoding scheme of the output file following the steps of the video, but the result is not ideal. We can see "类别1”“类别2”“类别3” is correct, but "中" “子”“仁” are still unreadable code. It's so confusing.

[2016-11-17 01:03] mdehghanim commented on #585
We are very sorry about this. Are you trying the TACIT wordcount plugin or the LIWC plugin? Can you please send us the text you are trying to analyze along with your dictionary file?

[2016-11-17 01:05] Karing2016 commented on #585
No problem! I will send to your email. It is a test file and test dictionary.

[2016-11-17 01:34] mdehghanim commented on #585
@anishgkanchan Can you please look in to this ASAP? I emailed you the files. Thanks

[2016-11-17 01:57] anishgkanchan commented on #585
Yes, I am looking into it

[2016-11-17 02:11] anishgkanchan commented on #585
@Karing2016  What encoding is being used in the input files? When I open the textfile.txt, I see non Chinese characters. The dictionary file seems proper though.
If you are using NotePad++ to create the file, it would be necessary to encode it in UTF-8 before saving.
http://superuser.com/questions/292086/how-can-i-enforce-so-notepad-uses-utf-8-every-time-i-create-a-new-file

[2016-11-17 02:15] Karing2016 commented on #585
![image](https://cloud.githubusercontent.com/assets/23471386/20373709/9352e5c8-acae-11e6-87fd-ac198b757115.png)
I don't know how to check the encoding of my input files

[2016-11-17 02:40] anishgkanchan commented on #585
Can you try converting it to UTF-8 (second option in the open menu) before saving the file?

[2016-11-17 02:51] hanmiche opened #586 "Error Message: Hierarchical clustering not running even in .txt format"
<img width="657" alt="screen shot 2016-11-13 at 6 25 02 pm" src="https://cloud.githubusercontent.com/assets/22923822/20374439/78e0f45e-ac2d-11e6-81a1-3390d7f7358d.png">

Hierarchical Cluster shows this error message when uploading a file even in .txt format. Only runs if you use "Add corpus" button, and will not run with "Add File(s)" or "Add Folder" button. This error occurs in the Nightly Build.

[2016-11-17 20:44] mdehghanim commented on #585
@anishgkanchan but do the users need to do this every time they want analyze a piece of text? We should be able to do this on our end. If we detect the language is not a European language, we should use the correct formatting.

[2016-11-17 21:15] mdehghanim commented on #586
@hanmiche Thank you for reporting this. Can you please try adding a folder in which there is more than one file? Also, can you please try adding two separate files using "Add File(s)"?

[2016-11-17 22:11] anishgkanchan commented on #585
Okay I'll look into this.

[2016-11-18 01:25] Karing2016 commented on #585
I downloaded the latest version of TACIT, and ran the TACIT Word Count with my Chinese input file and dictionary(the input file and dictionary are all UTF-8 NO BOM format), then I convert the encoding into UTF-8 following the video, but the result is still something wrong. As this:
![image](https://cloud.githubusercontent.com/assets/23471386/20415077/f88af076-ad70-11e6-9f4e-d59959291ce0.png)

[2016-11-23 22:52] mdehghanim commented on #552
@ReshmaBhatia Can you please test?

[2016-11-23 22:52] mdehghanim commented on #513
@ReshmaBhatia can you please test?

[2016-11-27 20:04] hanmiche opened #587 "Error Updating Nightly Build"
<img width="658" alt="screen shot 2016-11-17 at 1 38 53 pm" src="https://cloud.githubusercontent.com/assets/22923822/20651367/85f72058-b4a9-11e6-97ea-8e2841c2d3ea.png">

Error message appears when trying to update Nightly Build.

[2016-11-27 20:13] hanmiche commented on #586
@mdehghanim Tried Running with two separate files ("Add File(s)" Option), which generated the same error message. But when I ran it using one folder ("Add Folder" Option) containing two files (same files as the ones I used when running with two separate files), the clustering successfully ran.

[2016-12-07 20:23] boghrati opened #588 "Mac nightly build doesn't open."
![screen shot 2016-12-07 at 12 22 52 pm](https://cloud.githubusercontent.com/assets/7200037/20985129/ef42eda0-bc77-11e6-82d6-315ed025525c.png)

[2016-12-07 20:26] mdehghanim commented on #588
Have you upgraded the OS of your Mac? Try opening a terminal and getting the version of java installed on your machine ("java -version")

[2016-12-07 20:29] boghrati commented on #588
I haven't, I'll try updating the OS.
java version "1.8.0_60"

[2016-12-07 20:30] mdehghanim commented on #588
no, the problem happens only after updating. There might be something wrong with the build

[2016-12-07 20:30] mdehghanim commented on #588
@dnishant can you please look in to this?

[2016-12-08 20:19] ReshmaBhatia commented on #586
While debugging this issue, I found that cluster run is accepting input .txt text files and runs to success generating valid results. Kindly find the snapshot below:

![image](https://cloud.githubusercontent.com/assets/8767851/21026190/8a34ced4-bdb1-11e6-9fbf-5d62f56789a2.png)

Proceeding to close the issue.

[2016-12-08 20:19] #586 closed, assigned to ReshmaBhatia

[2016-12-29 20:02] dnishant-zz commented on #587
@hanmiche I'd require a few more details about this bug.. on which build did you encounter this bug? Did you get the build from jenkins or the wiki page? This happens when you try to  "check for updates" right?

[2016-12-30 04:28] mdehghanim commented on #588
I think this has to do with the version of java. The build works for with 1.8.0_111, but not with 1.8.0_91. Maybe there was an issue that was solved between 1.8.0_60 and later versions? @dnishant can you see if any one else has reported this? @boqrat can you please update your java and test again?

[2017-01-01 17:51] dnishant-zz commented on #552
This has been tested it works fine.

[2017-01-01 18:11] dnishant-zz commented on #580
@brownam23 this is fixed now and can be tested

[2017-01-02 00:18] #552 closed, assigned to anishgkanchan, ReshmaBhatia

[2017-01-02 04:08] mdehghanim commented on #289
@ReshmaBhatia Can you please test this?

[2017-01-02 04:10] mdehghanim commented on #151
@ReshmaBhatia Can you please test?

[2017-01-02 04:11] mdehghanim commented on #580
@ReshmaBhatia can you please test this?

[2017-01-02 04:17] boghrati commented on #588
Apparently I have 1.8.0_111 installed, but still getting the same error
with TACIT.
[image: Inline image 1]

On Thu, Dec 29, 2016 at 8:28 PM, mdehghanim <notifications@github.com>
wrote:

--
Best,
Reihane

[2017-01-02 13:40] mengningning opened #589 "When TACIT's functions of parser and analysis of Chinese corpus will be available?"
Dear sir/madam,
        Happy new year!
        We're a group of researchers from Xiamen University in China. We heard about your TACIT system from friends and we're very interested in the system. Could you please be so kind to let us know when its functions of segmentation and analysis of Chinese corpus will be available? If you like, we can test its relevant functions with our corpus before you

[2017-01-02 18:09] mdehghanim commented on #589
Dear sir/madam,
Happy new year to you as well. We are hoping to have this functionality finalized by the end of January. Thank you for offering to help us with testing this feature. We will inform you when this is done. You can also refer to the status of the following bug to get the status of the latest updates:
https://github.com/USC-CSSL/TACIT/issues/585

[2017-01-02 18:09] #589 closed, assigned to nobody

[2017-01-03 19:38] dnishant-zz commented on #289
This has been tested and works fine now.

[2017-01-03 19:38] #289 closed

[2017-01-03 19:48] dnishant-zz commented on #584
This has been fixed and tested.

[2017-01-03 19:48] #584 closed, assigned to ReshmaBhatia, dnishant-zz

[2017-01-03 20:29] ReshmaBhatia commented on #580
This has been tested and works fine.
Kindly find the snapshot of successful runs:

![image](https://cloud.githubusercontent.com/assets/8767851/21621873/d3dfbce4-d1af-11e6-8b3a-d02d6b4981d0.png)

Also, find below snapshot of the output of a successful run:

![image](https://cloud.githubusercontent.com/assets/8767851/21621942/238dc3d0-d1b0-11e6-996e-c2ec94dcefb8.png)

Working ahead to close this iss

[2017-01-03 20:45] #580 closed, assigned to dnishant-zz

[2017-01-03 23:32] ReshmaBhatia commented on #151
Dendrogram for Hierarchical Clustering looks suitable.
Kindly find the snapshots below for two test cases:

![image](https://cloud.githubusercontent.com/assets/8767851/21626932/3d5731e8-d1c9-11e6-9d68-2eda484bc31b.png)

![image](https://cloud.githubusercontent.com/assets/8767851/21626980/8ddb68fa-d1c9-11e6-83b3-812f1245375f.png)

Working ahead to close the issue.

[2017-01-04 00:13] mdehghanim commented on #151
Can you please test this with a lot more files in the directory? The problem occurs when we have 100-200 files.

[2017-01-04 00:19] ReshmaBhatia commented on #151
Surely, will try with large number of files.

[2017-01-04 16:59] sagarmakwana commented on #583
@brownam23  Can you recreate the bug . Works fine for me. Let me know how to  recreate it.

[2017-01-04 23:17] ReshmaBhatia commented on #151
I have tried testing with upto 150 files. Kindly find the snapshots below:

![image](https://cloud.githubusercontent.com/assets/8767851/21662725/61fdcd32-d290-11e6-8e8a-baeaf2f25592.png)

![image](https://cloud.githubusercontent.com/assets/8767851/21662779/b86dba2e-d290-11e6-9cbc-940e3f4a3da7.png)

Couldn't find any webpage which displayed dendrogram.

[2017-01-05 17:31] sagarmakwana commented on #576
@mdehghanim @anishgkanchan I have solved it.Works for me. Please test it.

[2017-01-06 07:04] sagarmakwana commented on #502
@mdehghanim Yes this is done. Please test and close the issue.

[2017-01-06 17:56] dnishant-zz commented on #532
@mdehghanim this is done and can be tested.

[2017-01-07 12:44] anishgkanchan commented on #579
This is completed and can be tested

[2017-01-07 18:16] sagarmakwana commented on #576
@ReshmaBhatia Can you test and close it.

[2017-01-07 18:26] sagarmakwana commented on #502
@ReshmaBhatia Can you test it and close it. Please test it on corpus created using few crawlers  (please include reddit in it)

[2017-01-08 04:46] ReshmaBhatia commented on #576
Yeah surely.

On Sat, Jan 7, 2017 at 10:16 AM, Sagar Makwana <notifications@github.com>
wrote:

[2017-01-08 04:47] ReshmaBhatia commented on #502
Yeah surely

On Sat, Jan 7, 2017 at 10:26 AM, Sagar Makwana <notifications@github.com>
wrote:

[2017-01-09 16:19] ReshmaBhatia commented on #532
I have tested this and looks fine. Kindly find the snapshot below:

**For US Congress Crawler:**
Snapshot of Corpus Management:-
![image](https://cloud.githubusercontent.com/assets/8767851/21773400/c94fd3e8-d643-11e6-8119-790514817cd3.png)

Snapshot of JSON File:-
![image](https://cloud.githubusercontent.com/assets/8767851/21773445/fb3eb48c-d643-11e6-83ec-863c980d31cf.png)

**For StackExchange Cra

[2017-01-09 18:40] ReshmaBhatia commented on #502
I have tested this and outcomes are as follows:

**1) R object gets exported for crawlers listed below:**
UC Santa Barbara Debates Crawler,
Frontiers Crawler,
GovTrack Crwaler,
Hansard Crawler,
PLOS Crawler,
Reddit Crawler,
StackExchange Crawler,
Twitter Crawler,
TypePad Crawler.

Kindly find the snapshot below:
![image](https://cloud.githubusercontent.com/assets/8767851/21778229/6a978f26-d657-11e

[2017-01-09 18:45] ReshmaBhatia commented on #576
I have tested this and works fine for me.

Find the snap shots below:
![image](https://cloud.githubusercontent.com/assets/8767851/21778505/7fa08692-d658-11e6-8c88-a2a9d679c5f0.png)

Viewing the files in R studio:

![image](https://cloud.githubusercontent.com/assets/8767851/21778545/ade9fccc-d658-11e6-8f62-9226ab42b128.png)

Proceeding to close the issue.

[2017-01-09 18:51] ReshmaBhatia commented on #583
@sagarmakwana While working on another bug , I came across such scenario. Latin Crawler exports empty folders. Even though it says that Crawling is completed , it exports empty folder.

Input to Latin Crawler:
![image](https://cloud.githubusercontent.com/assets/8767851/21778686/44eb382a-d659-11e6-9a3c-8fac13f321c6.png)

Path specified as output is empty:
![image](https://cloud.githubusercontent.co

[2017-01-09 18:52] #532 closed, assigned to dnishant-zz

[2017-01-09 18:52] #576 closed, assigned to sagarmakwana

[2017-01-09 18:56] ReshmaBhatia commented on #579
I have tested and results are appropriate.

Kindly find the snapshot below:
![image](https://cloud.githubusercontent.com/assets/8767851/21778913/2a53f956-d65a-11e6-896c-4130ffb8cdee.png)

[2017-01-09 18:56] #579 closed, assigned to anishgkanchan

[2017-01-10 05:55] mdehghanim commented on #587
I was able to replicate the bug. Here are the details:
An error occurred while collecting items to be installed
session context was:(profile=DefaultProfile, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
Artifact not found: http://tacit.usc.edu/tacit/beta2/updates/plugins/edu.usc.cssl.tacit.classify.naivebayes_1.0.0.201701100539.jar.
http://tacit.usc.edu/tacit/bet

[2017-01-10 16:53] joh03067 opened #590 "US Congress Crawler: Add button doesn't generate list"
The add button generates a list of congressmen if "All" is selected, but it does not generate a list of congressmen if congress numbers 101, 102, or 103 number is selected for either Senators or Representatives.

[2017-01-10 16:57] joh03067 opened #591 "US Crawler: Limit per congress member when no congress member selected crawls total, not per person"
When you select a congress (say, 105) and don't specify a congress member, and limit the crawl to 100 records per congress member, it does not crawl 100 records for each congress member in the 105th congress. It crawls a total of 100 records, which is not what it should do.  If we want to set up a separate "total number of records to crawl" option, we can add it, but this button should take the em

[2017-01-10 18:18] joh03067 opened #592 "All crawlers: time stamp"
Can we add a time stamp to the console for the crawlers so you can see when the last item to be crawled started? particularly for long crawls, people will likely walk away during the crawl to do other things, and it would be helpful to be able to see if the program has stalled or frozen when you come back. I say this because I started a crawl with the Congress crawler, came back an hour later, and

[2017-01-10 19:16] joh03067 opened #593 "Congress Crawler: Freezes at 32%"
I was trying to crawl 100 speeches for each senator in the 105th congress.  Each time I tried (3 times for good measure), it froze at 32%.  ![image](https://cloud.githubusercontent.com/assets/8532401/21820820/19ceb914-d726-11e6-9266-256eacc41200.png)

[2017-01-11 19:06] anishgkanchan commented on #585
The files cannot be programmatically converted to UTF-8 without knowing the source encoding. So it'd just be convenient to keep everything in UTF-8 itself.

[2017-01-11 19:07] anishgkanchan commented on #585
And the Word Count module performs word count on Chinese characters if the individual words are separated by spaces.

[2017-01-11 19:50] dnishant-zz commented on #587
The error was due to some internal issue with permission from jenkins.
I ran the script from the Wiki Page: http://cssl.usc.edu/wiki/index.php/JenkinsSetup (TACIT EXECUTABLE) for local builds.
This solved the issue and now it updates successfully.

[2017-01-12 18:16] mdehghanim commented on #587
We need to fix the issue so that nightly builds can automatically send successful updates. Will close this issue for now, and will open another one for jenkins.

[2017-01-12 18:16] #587 closed, assigned to dnishant-zz

[2017-01-12 18:21] mdehghanim commented on #376
@ReshmaBhatia can you please take on this task?

[2017-01-12 18:22] mdehghanim opened #594 "Jenkins issues"
We need to fix jenkins so that
1. we get automatic nightly builds again
2. the update issue in these builds are resolved.

[2017-01-12 22:17] ReshmaBhatia commented on #376
@mdehghanim Yeah surely will look into it.

[2017-01-13 20:59] sagarmakwana commented on #502
@mdehghanim @ReshmaBhatia I have fixed this and now it works for US Congress Crawler as well. Unfortunately R object wont work for Latin crawler because it does not export corpus. It directly takes the input of the destination folder and outputs the results. So it does not follow the standard corpus management procedures. Unless we change Latin crawler to export corpus we cannot export it as R obj

[2017-01-13 21:02] sagarmakwana commented on #583
@mdehghanim @ReshmaBhatia I checked this and this is a problem only with Latin crawler. Latin crawler needs a bit of a fixing.

[2017-01-13 22:03] sagarmakwana commented on #583
@ReshmaBhatia  Please test it again except for latin and close the issue.

[2017-01-15 05:43] ReshmaBhatia commented on #502
I have tested for US Congress Crawler and it works fine.

Kindly find the snapshot below:

![image](https://cloud.githubusercontent.com/assets/8767851/21960473/f5ddbc38-daa1-11e6-8565-13179ff8742d.png)

Kindly find the snapshot of R studio view:

![image](https://cloud.githubusercontent.com/assets/8767851/21960476/3115f680-daa2-11e6-8cd7-81a399331e98.png)

@mdehghanim As Latin Crawler has differen

[2017-01-16 03:49] santoshbs opened #595 "Progress bar not updating"
When I run the z-label LDA on large corpus, the progress bar always displays "Analyzing...0%". It is not possible to figure out whether the program is stuck or processing.

[2017-01-16 22:33] #502 closed, assigned to sagarmakwana

[2017-01-16 22:34] #583 closed, assigned to sagarmakwana

[2017-01-17 15:13] santoshbs opened #596 "z-label LDA not successful"
Sometimes after adding corpus and running z-label LDA (with preprocessing) gives an error message saying "z-label LDA not successful". However it starts working fine after simply clicking Preprocess -> Dialog box (Apply -> OK) and then running z-LDA. Not sure why this issue arises.

[2017-01-20 01:23] mdehghanim opened #597 "option to stem seed words/dictionaries"
There should be an option in the preprocessing settings where dictionaries and seed words can be stemmed before processing.

[2017-01-23 22:32] dnishant-zz commented on #590
@joh03067 I just checked the site and Congressional Records for Congress Numbers 101,102 and 103 do not exist and hence the list is not populated. Should I remove these congress numbers from the first dropdown then since we only crawl congressional records?

[2017-01-27 20:24] sagarmakwana commented on #594
@mdehghanim Do you have any heads up on this issue like what files or what settings to look for on server??? Trying to understand the issue.

[2017-01-28 00:37] anishgkanchan commented on #595
@santoshbs this has been solved and can be tested

[2017-01-28 01:26] anishgkanchan commented on #581
This is because your screen resolution is very high. As you can see, not only the Go and Help icons, but all the plugin icons are appearing tiny.

This is a bug in Eclipse which it has solved in the Neon version (we are targeting Mars.)
https://bugs.eclipse.org/bugs/show_bug.cgi?id=421383
http://stackoverflow.com/questions/20718093/eclipse-interface-icons-very-small-on-high-resolution-screen-in-wi

[2017-01-28 01:32] ReshmaBhatia commented on #513
I have tested the crawler. It gives valid results.

Kindly find the snapshot below:

![image](https://cloud.githubusercontent.com/assets/8767851/22393110/8c3ca9c8-e4b6-11e6-9c00-a8387cf12761.png)

[2017-01-28 01:32] #513 closed, assigned to anishgkanchan, ReshmaBhatia

[2017-01-30 22:29] #581 closed, assigned to anishgkanchan

[2017-01-30 23:11] dnishant-zz commented on #591
This is done now!

[2017-01-30 23:11] #591 closed, assigned to dnishant-zz

[2017-01-30 23:19] dnishant-zz commented on #592
Every crawler already outputs the latest crawl and to crawl one page it requires less than a second, so if the program had frozen that was because of another bug, Otherwise if the program works the console will keep printing the most recent crawls

[2017-01-30 23:19] #592 closed, assigned to dnishant-zz

[2017-01-30 23:21] dnishant-zz commented on #590
I have removed those congress numbers from the list

[2017-01-30 23:22] #590 closed, assigned to dnishant-zz

[2017-02-04 03:41] sagarmakwana commented on #594
@mdehghanim  I have done some changes to Jenkins. Lets see if it works.

[2017-02-07 07:40] sagarmakwana commented on #594
@mdehghanim This is fixed. Please close it.

[2017-02-07 18:47] #594 closed, assigned to sagarmakwana

[2017-02-08 23:36] ReshmaBhatia commented on #419
@mdehghanim Hello Professor, I have worked on this enhancement.
My code corrects the misspelled word but the major problem is it is not context based. Even though we use a standard dictionary, it will not guarantee the word gets corrected according to the context of input text.
There is one possible solution:

1) Let us ask user to input their dictionary. In this way it will be in context of user

[2017-02-10 20:41] sagarmakwana commented on #571
@mdehghanim This functionality is added to TACIT. It can be tested.

It works as follows:
TACIT exports the entire corpus in a python-importable json format.
To import the corpus in python:

The corpus formed here is a dictionary object in python. It very convenient to use a dictionary.

We should also put some import instructions somewhere.

[2017-02-11 14:39] mengningning commented on #585
Excuse me, could you please be so kind to tell me that whether  the TACIT's functions of parser and analysis of Chinese corpus are available now?

[2017-02-11 19:35] mdehghanim commented on #585
@dnishant is currently assigned to this task and is working on it. @dnishant can you please give us an update?

[2017-02-12 19:04] dnishant-zz commented on #585
Hi,

Wordcount in chinese is a current research topic because it is not possible
to exactly recognize how many characters are equivalent to a single
word(because of lack of spaces) In the ancient chinese script where one
character is equal to one word it is easier to do this task. However I am
currently working on it and will soon give you an update of my progress.
Really sorry, that you have to w

[2017-02-12 20:44] mdehghanim commented on #588
Another user has reported the same bug. We need to address this ASAP. Here is the what I got from the user:
I downloaded the latest JDK, installed, repaired permissions, restarted, checked again on terminal (see screenshot), and still no dice with TACIT. Same error.

Any ideas about how to fix this?
<img width="320" alt="screen shot 2017-02-12 at 9 38 44 am" src="https://cloud.githubusercontent.co

[2017-02-13 01:20] mengningning commented on #585
Thank you very much for your kind reply. Hope everything goes well in your work. @mdehghanim @dnishant

[2017-02-18 00:23] mdehghanim opened #598 "unsupported format error"
Analyzing only raw text files with all files having .txt extension
![screen shot 2017-02-17 at 4 21 41 pm](https://cloud.githubusercontent.com/assets/6384236/23087998/6a304768-f52d-11e6-9d31-43edef27a009.png)
, how ever this warning is displayed

[2017-02-18 00:26] mdehghanim commented on #598
may be related to this: the name of the file is 1st_commonwealth_bank_of_virginia,_arlingtonOCR3text.txt

see the csv file

![screen shot 2017-02-17 at 4 24 36 pm](https://cloud.githubusercontent.com/assets/6384236/23088038/c930deee-f52d-11e6-88da-9c73c5045eef.png)

[2017-02-22 04:51] mdehghanim commented on #595
@santoshbs does not have access to the nightly builds. Assign this someone else please for testing.

[2017-02-22 04:52] mdehghanim commented on #571
@anishgkanchan can you please test this?

[2017-02-22 04:53] mdehghanim commented on #151
@anishgkanchan if this is done, assign it to @ReshmaBhatia to test

[2017-02-22 04:56] mdehghanim opened #599 "wordcount option: treat each line as a separate document"
There should be an option in all word-count plugins for TACIT to treat each line as a separate document. The easiest way to implement this is to have a script that dumps each line in to a separate file, and then you can run regular word-count on that.

[2017-02-22 18:17] anishgkanchan commented on #596
@santoshbs can you please provide me with your dataset? I have not been able to recreate this bug.

[2017-02-23 03:24] santoshbs commented on #596
@anishgkanchan  this is happening with any dataset that I use. I will try it on a different machine and let you know if this is reproducible. Thanks for your kind attention.

[2017-02-23 03:25] santoshbs commented on #595
@anishgkanchan thank you for your kind attention. I look forward to next version of TACIT.

[2017-03-04 02:04] anishgkanchan commented on #599
This is done. @dnishant please test

[2017-03-04 02:05] anishgkanchan commented on #151
Yes this is done. @ReshmaBhatia please test.

[2017-03-09 00:16] ReshmaBhatia commented on #598
Hello Professor,
I cannot replicate the bug.
I tried testing on LIWC-Style Word Count and Standard TACIT Word Count with different combinations of input , it worked fine for me.

Kindly, tell me under which Word Count module and input you encountered the Alert.

[2017-03-09 01:12] ReshmaBhatia commented on #598
I tried testing on the website version of TACIT and still I am not able to recreate the bug. I tried testing- LIWC-Style Word Count and Standard TACIT Word Count on Website version of TACIT with different combinations of input , it worked fine for me.

Working ahead to close the issue.

[2017-03-09 01:12] #598 closed, assigned to ReshmaBhatia

[2017-03-09 01:36] ReshmaBhatia commented on #419
This is done and can be tested.

[2017-03-13 21:56] ReshmaBhatia commented on #151
While testing I have encountered following error :
![image](https://cloud.githubusercontent.com/assets/8767851/23876929/0f5aca74-07fd-11e7-8f8e-702af534901f.png)

[2017-03-13 22:28] ReshmaBhatia commented on #151
The Hierarchical clustering generates cluster report and run report but is unable to provide a web view.

[2017-03-23 22:11] mdehghanim commented on #597
@anishgkanchan can you please test this?

[2017-03-23 22:11] mdehghanim commented on #571
@anishgkanchan Please test

[2017-03-23 22:11] mdehghanim commented on #359
@anishgkanchan can you please look in to this

[2017-03-27 16:44] mdehghanim commented on #588
@anishgkanchan can you please help @sagarmakwana with this bug?

[2017-03-27 20:42] anishgkanchan commented on #588
Yes, I'll do that

[2017-03-29 20:29] ReshmaBhatia commented on #151
Hierarchical clustering now generates Web View. I have tried for large number of files as well (about 150 files). Kindly find the snapshots of two runs:

1st run-
![image](https://cloud.githubusercontent.com/assets/8767851/24475064/9b03dcb8-1483-11e7-9fae-bd11f4fcac8d.png)

2nd run-
![image](https://cloud.githubusercontent.com/assets/8767851/24475093/ac843564-1483-11e7-8fb3-5742d05402a3.png)

[2017-03-29 21:30] #151 closed

[2017-03-29 21:50] anishgkanchan commented on #595
@sagarmakwana  please test

[2017-03-29 22:13] dnishant-zz commented on #599
This works fine!

[2017-03-29 22:13] #599 closed, assigned to anishgkanchan, dnishant-zz

[2017-04-03 20:53] anishgkanchan opened #600 "Null cases displayed in Corpus Management"
Please refer the image attached

<img width="1259" alt="screen shot 2017-04-03 at 1 52 27 pm" src="https://cloud.githubusercontent.com/assets/2355327/24631382/e15d5a32-1874-11e7-9f40-d956c7c57f0f.png">

[2017-04-03 20:57] anishgkanchan commented on #571
This works fine

[2017-04-03 20:57] #571 closed, assigned to sagarmakwana

[2017-04-03 20:57] anishgkanchan commented on #359
This is done

[2017-04-03 21:05] mdehghanim commented on #359
@anishgkanchan is the file menu gone only under Mac or both under Mac and Windows? I think the file menu is needed under Windows

[2017-04-03 21:22] anishgkanchan commented on #359
I removed it from both. I'll check if it is possible to retain it depending on the operating system.

[2017-04-03 21:25] mdehghanim commented on #359
I think we need to only remove it from Mac.

[2017-04-03 21:25] anishgkanchan commented on #359
I just looked into it. It should be possible to do this.

[2017-04-03 21:42] anishgkanchan commented on #359
This is done. @ReshmaBhatia could you please test?

[2017-04-04 16:34] sagarmakwana opened #601 "Create a .dmg file for TACIT mac build"
With a new update(Sierra) in mac, the .zip build for mac won't open. Change the build format to .dmg to make it compatible with mac.  Refer issue #588 for previous developments on this issue.

[2017-04-04 16:35] sagarmakwana commented on #588
This issue is related to new update to mac(Sierra). It can be only dealt with by changing the format of the mac build from .zip to .dmg. However for time being, open the .zip file of the build using keka unzipper rather than the default archive utility.
Refer new issue #601 .

[2017-04-04 16:35] #588 closed, assigned to sagarmakwana

[2017-04-05 04:08] mdehghanim opened #602 "Latin Crawler does not save to corpus"
The Latin Crawler should be changed so that it saves to TACIT corpus format, just like the other crawlers.

[2017-04-06 02:29] ReshmaBhatia commented on #419
I have added the functionality to take the dictionary as input, this module is now completed and can be tested.

[2017-04-06 19:18] sagarmakwana commented on #595
@anishgkanchan The issue still persists when the input folder is large.Works fine for smaller input folder. Let me know if you need help recreating the bug.

[2017-04-06 20:12] mdehghanim opened #603 "spelling issue in LIWC-style word count"
Please fix the spelling of "trie" to "tree":
Finished building the dictionary trie in 52 milliseconds.

Thanks,
Morteza

[2017-04-06 22:36] dnishant-zz commented on #603
This has been fixed. @ReshmaBhatia please test and close this

[2017-04-06 22:42] ReshmaBhatia commented on #603
This has been tested. Please, find the below screen shot :

![image](https://cloud.githubusercontent.com/assets/8767851/24778474/a10830d4-1adf-11e7-95c1-fee390004b16.png)

[2017-04-06 22:42] #603 closed, assigned to ReshmaBhatia

[2017-04-10 11:34] ReshmaBhatia commented on #359
This is tested and looks fine.
Kindly find the screen shots below:

![image](https://cloud.githubusercontent.com/assets/8767851/24859765/e40e3c56-1da6-11e7-91e7-a940b4ac3f51.png)

![image](https://cloud.githubusercontent.com/assets/8767851/24859788/fce568e4-1da6-11e7-9890-e491ac484498.png)

[2017-04-10 11:34] #359 closed, assigned to dnishant-zz

[2017-04-12 20:41] anishgkanchan commented on #600
This is done

[2017-04-12 21:05] anishgkanchan commented on #597
The temporary dictionary file generated has proper stemmed values, but it replaces the tabs with the spaces.

[2017-04-12 21:38] anishgkanchan commented on #593
The screen is not frozen, as the console in the backend shows the logs. I'll put in a message on the progress bar which displays the number of files downloaded instead.

[2017-04-17 21:44] dnishant-zz commented on #600
The corpus classes are not visible at all now, this needs to be handled and tested well! Corpus management seems to crash because of incorrect TypeCasting.

[2017-04-19 01:32] sagarmakwana commented on #597
@anishgkanchan  @mdehghanim  The test issue raised by anish is addressed and can be tested again.

[2017-04-19 01:32] sagarmakwana commented on #465
@mdehghanim Waiting for clarification from @joehoover

[2017-04-19 01:35] sagarmakwana commented on #464
@mdehghanim NB uses weka internally. So we cannot display metrics for each fold. Although we can divide the data into folds and do evaluation on each fold using weka, but that is time consuming to do right now in tacit.

[2017-04-19 19:25] anishgkanchan commented on #600
This has been solved and tested.

[2017-04-19 19:25] #600 closed, assigned to anishgkanchan

[2017-04-19 19:48] anishgkanchan commented on #593
@dnishant please test

[2017-04-19 22:37] anishgkanchan opened #604 "Show intermediate progress in ZLDA when input is large"

[2017-04-19 22:39] anishgkanchan commented on #595
I ran the module with the large input that you used and it got completed successfully (no freezing). The problem that occurred is different from the one this issue was created for. I created an issue for the same here #604

[2017-04-19 22:40] anishgkanchan commented on #604
This is done. @sagarmakwana  please test

[2017-04-20 02:27] mdehghanim commented on #585
@dnishant is this done? If so, assign it to @anishgkanchan to test

[2017-04-20 03:26] mdehghanim commented on #597
@anishgkanchan please test

[2017-04-20 03:27] mdehghanim commented on #595
@anishgkanchan @sagarmakwana please address this issue and close it

[2017-04-20 03:28] mdehghanim commented on #419
@anishgkanchan please test

[2017-04-20 03:28] mdehghanim commented on #375
@sagarmakwana is this done?

[2017-04-20 22:36] sagarmakwana commented on #465
Statistics added to SVM:
-Correctly classified instances
-Incorrectly classified instances
-Total instances
-Confusion matrix
-Accuracy
-Precision
-Recall
-F1
-Kappa Statistics
-Binomial Test P Value

Error Statistics not included(since these correspond to regression statistics and not classification):
-Mean Absolute Error
-RMS error
-Relative Absolute error
-Root Relative Squared error

@mdehghan

[2017-04-27 01:05] dnishant-zz commented on #602
This has been added along with other features such as export and querying the LATIN Corpus.
@anishgkanchan please test this.

[2017-04-27 01:07] dnishant-zz commented on #593
Works fine now!

[2017-04-27 01:07] #593 closed, assigned to anishgkanchan, dnishant-zz

[2017-04-27 02:17] anishgkanchan opened #605 "Error occurs when corpus type is changed of Latin Corpus"
The following is the exception thrown on the console:

java.lang.NullPointerException
	at edu.usc.cssl.tacit.common.ui.corpusmanagement.CorpusDetailsPage$1.widgetSelected(CorpusDetailsPage.java:145)
	at org.eclipse.swt.widgets.TypedListener.handleEvent(TypedListener.java:248)
	at org.eclipse.swt.widgets.EventTable.sendEvent(EventTable.java:84)
	at org.eclipse.swt.widgets.Display.sendEvent(Display.

[2017-04-27 02:20] anishgkanchan commented on #602
Latin crawler now saves corpus properly. I however noticed that some error occurs when the corpus type is changed from the corpus management section of TACIT. I've created an issue for the same here #605

[2017-04-27 02:20] #602 closed, assigned to anishgkanchan, dnishant-zz

[2017-04-27 08:51] anishgkanchan commented on #419
This works fine

[2017-04-27 08:51] #419 closed, assigned to anishgkanchan, ReshmaBhatia

[2017-04-27 08:55] anishgkanchan commented on #585
Just a side note on this issue for future reference. The word count module may sometimes give a runtime error on Eclipse which gets solved if the chinese word count module dependency is removed and then added back.

[2017-04-27 09:02] anishgkanchan commented on #597
This works fine

[2017-04-27 09:02] #597 closed, assigned to sagarmakwana

[2017-04-27 15:45] mdehghanim commented on #585
This is an issue which needs to be solved. Why is it doing this?

[2017-04-27 15:46] mdehghanim commented on #464
@sagarmakwana what's the status on this?

[2017-04-27 15:47] mdehghanim commented on #596
Can someone else please test this? @sagarmakwana or @dnishant?

[2017-05-04 03:05] mdehghanim commented on #605
@dnishant is this fixed?

[2017-05-05 20:08] dnishant-zz commented on #605
This has been fixed and cane be tested, I have removed the corpus selection section from corpus management so that the user does not change the data type of a corpus.

[2017-05-06 04:15] mdehghanim commented on #605
@anishgkanchan please test

[2017-05-06 04:16] mdehghanim opened #606 "Google ngram plugin"
write a plugin for Google ngram

[2017-05-06 04:17] mdehghanim opened #607 "Crawler for Project Gutenberg"
Write a plugin for Project Gutenberg.

[2017-05-10 10:00] ReshmaBhatia commented on #604
I have tested this on large input file and it works fine. Intermediate progress is seen. Kindly find the snapshots of two of the intermediate progress :

<img width="518" alt="screen shot 2017-05-10 at 1 22 23 am" src="https://cloud.githubusercontent.com/assets/8767851/25893451/b821f266-352c-11e7-81b7-f2e548ae9791.png">

<img width="518" alt="screen shot 2017-05-10 at 1 26 59 am" src="https://clou

[2017-05-10 10:09] #604 closed, assigned to anishgkanchan, sagarmakwana

[2017-05-10 10:11] ReshmaBhatia commented on #596
This works fine.

[2017-05-10 10:11] #596 closed, assigned to anishgkanchan

[2017-05-10 19:29] anishgkanchan commented on #464
This isn't done. As per Sagar's comment, if the metrics cannot be displayed, should I close this issue for now?

[2017-05-10 19:29] anishgkanchan commented on #465
This is done

[2017-05-10 19:29] #465 closed, assigned to sagarmakwana

[2017-05-10 19:36] #464 closed, assigned to sagarmakwana

[2017-05-10 19:37] anishgkanchan commented on #464
Sagar said that It was discussed during the meeting that this was not needed for the time being as Weka does the internal calculations

[2017-05-10 21:13] sagarmakwana commented on #595
Works fine.

[2017-05-10 21:13] #595 closed, assigned to anishgkanchan

[2017-05-12 00:53] anishgkanchan opened #608 "Naive bayes throws error when given folders as input"

[2017-05-12 21:23] #608 closed, assigned to anishgkanchan

[2017-05-15 21:56] anishgkanchan commented on #605
This has been solved

[2017-05-15 21:56] #605 closed, assigned to dnishant-zz

[2017-05-15 23:19] dnishant-zz commented on #585
This works in the local build however fails while creating the product with the error message:
Word count analysis met with error.
Take appropriate action to resolve the issues and try again.

No error is thrown on the when tacit is run from eclipse.
Possible problem: uploading the chinese-model file with size > 100mb to github and including it in the jenkins build.

[2017-05-21 00:58] ghost opened #609 "Latin Crawler Bug"
When attempting to crawl the Latin Library Website, there is an internal error message whenever an author is selected and a crawl is attempted, regardless of whether one or multiple authors are selected. Attached is a screenshot of the error message.
<img width="414" alt="screen shot 2017-05-20 at 5 57 33 pm" src="https://cloud.githubusercontent.com/assets/28742391/26280381/de0b525e-3d85-11e7-8330

[2017-05-22 17:18] ReshmaBhatia commented on #609
I am not able to recreate this bug.
This works fine for me.
Kindly find the snapshot for the same:
![image](https://cloud.githubusercontent.com/assets/8767851/26320519/e7e86c96-3ed7-11e7-9ae6-998b25908257.png)

[2017-05-22 17:23] mdehghanim commented on #609
@park415 can you please provide more detailed steps so that we can try to replicate the issue?

[2017-05-22 17:27] ReshmaBhatia commented on #609
I would recommend you to test it on latest version of TACIT.
For your reference, I am attaching the input details for above crawl result:
![image](https://cloud.githubusercontent.com/assets/8767851/26320820/33054d92-3ed9-11e7-83cc-049529f945bc.png)

[2017-05-24 00:09] ghost commented on #609
I attempted to do the same crawl as @ReshmaBhatia , I have the screenshot attached. All I did was select Abbo Foriacensis from the drop down menu, name the crawl, and then attempt to run it and the error appeared again. I should be on the latest version of TACIT as I downloaded it on 5/20/2017 on the USC TACIT webpage.
<img width="856" alt="screen shot 2017-05-23 at 5 06 57 pm" src="https://cloud.

[2017-05-24 22:12] mdehghanim commented on #609
@ReshmaBhatia I get the same exact error as @park415. See below
<img width="1017" alt="screen shot 2017-05-24 at 3 12 20 pm" src="https://cloud.githubusercontent.com/assets/6384236/26427836/73997e6c-4093-11e7-9b45-5c39595612f8.png">

[2017-05-28 23:29] ghost opened #610 "Typo in program"
Under View --> Preferences --> TACIT, "Preprocessor Settings" is misspelled as "Prepocessor Settings"

[2017-05-30 02:58] ReshmaBhatia commented on #609
@dnishant

[2017-05-30 05:07] dnishant-zz commented on #609
@ReshmaBhatia I resolved this issue, please test and close.

[2017-05-30 06:09] ReshmaBhatia commented on #609
I tested it and it works fine.
Thanks @dnishant for helping out.

[2017-06-01 00:28] ReshmaBhatia commented on #610
This has been corrected.
Kindly find the snapshot below:

![image](https://cloud.githubusercontent.com/assets/8767851/26659577/9005a8c6-4626-11e7-898c-e62485d2135e.png)

[2017-06-01 00:28] #610 closed, assigned to ReshmaBhatia

[2017-06-01 00:31] #609 closed, assigned to ReshmaBhatia

[2017-06-04 04:57] ghost opened #611 "Error when attempting to update TACIT"
When attempting to update TACIT, there is an error message. Attached are step by step screenshots of what I did to update the software leading up to the error.
<img width="251" alt="screen shot 2017-06-03 at 9 56 00 pm" src="https://cloud.githubusercontent.com/assets/28742391/26759076/950a5456-48a7-11e7-9444-b57ab5752084.png">
<img width="878" alt="screen shot 2017-06-03 at 9 56 06 pm" src="https:

[2017-06-10 00:31] ReshmaBhatia opened #612 "Dendogram not visible in Web View"
Dendogram is not generated in Web View.

![image](https://user-images.githubusercontent.com/8767851/26998517-773f5174-4d39-11e7-87fb-758978da7b98.png)

[2017-06-14 02:44] #611 closed, assigned to ReshmaBhatia

[2017-06-18 03:56] mendlen opened #613 "US Congress- Adding Member"
When I'm attempting to add more than one congress member, instead of adding an additional member I end up replacing the previously selected member. Can never have more than one at a time. This is when I've selected Representatives and All.

[2017-06-20 05:04] ghost opened #614 "StackExchange Crawler Bug"
When attempting to crawl in the StackExchange crawler, everything appears to be running normally at first. The pop up where it shows the progress of the crawl appears briefly, and then closes suddenly. There is an error message at the bottom of the screen that reads:
"Crawling failed. Provide valid data."
This occurs regardless of what the input is, even with search terms that are very relevant to

[2017-06-20 20:40] ReshmaBhatia commented on #614
I have tested this on latest build and also on the tacit available on website(http://tacit.usc.edu). It is working fine for me.
Sample Run:
![image](https://user-images.githubusercontent.com/8767851/27354820-c652aeb4-55bd-11e7-9907-cbf82dcfec03.png)

@park415 Kindly try on latest version.

[2017-06-20 21:19] mdehghanim commented on #614
@park415 may be using a nightly build (downloaded from our wiki)

[2017-06-21 23:23] mendlen opened #615 "Frontiers Journal- "Valid data""
Unsure why I'm getting an error message. For the Frontiers Journal, I've selected Engineering and Neurorobotics, and title + abstract body + journal body + references are selected. I limited pages to 10, 15, and 100 for 3 different attempts and got the same error message. Message at bottom of screen is "Crawling failed. Provide valid data"
<img width="1193" alt="screen shot 2017-06-21 at 10 13 53

[2017-06-22 05:01] mdehghanim commented on #615
@mendlen can you provide a screenshot of the options you selected before clicking on crawl?

[2017-06-28 20:11] #612 closed, assigned to ReshmaBhatia

[2017-06-28 21:35] ReshmaBhatia commented on #612
![image](https://user-images.githubusercontent.com/8767851/27661398-fdcff552-5c0e-11e7-94bc-01085b8f7df4.png)

[2017-06-29 21:50] ReshmaBhatia commented on #615
This has been taken care.
Snapshots of one of the test run:

![image](https://user-images.githubusercontent.com/8767851/27712063-2c8e46e8-5cda-11e7-8177-16ca09d599a8.png)

![image](https://user-images.githubusercontent.com/8767851/27712054-18889d74-5cda-11e7-980a-30e479c50b16.png)

[2017-06-29 22:14] mdehghanim commented on #615
@mendlen can you please download the nightly build from the wiki page and test this?

[2017-07-12 03:49] ghost opened #616 "Hansard Crawler Add Congress Member Issue"
In the Hansard Crawler when using the "House Member Search" function, when I try to press the "Add..." button under "Congress Member", the system freezes and TACIT becomes unresponsive. I have tried this about five times and every time when I open up the Force Quit window on Mac, it shows that TACIT is unresponsive (screenshot attached).
<img width="347" alt="screen shot 2017-07-11 at 8 48 10 pm"

[2017-07-15 21:08] ghost opened #617 "Hansard Crawler using multiple keywords/congress members"
I haven't been able to figure out how to crawl the Hansard Crawler with multiple keywords/congress members. Every time I try, I get no results (regardless of whether I use a comma or a semicolon), but I'm searching for specific debates that I know to contain both keywords (I looked for specific ones on the Hansard Crawler website). Does the Hansard Crawler support searching for multiple congress m

[2017-07-15 23:44] ReshmaBhatia commented on #617
Hello Park,
Hansard Crawler has two search options:
1)	**Keyword search** – You can enter any keyword. If that keyword is found through crawling, the corresponding debates get downloaded.(Refer Figure 1 & 2)
If the keyword you entered does not exists on website, it will result a dialogue box saying "No results were found". (Refer Figure 3)
Yes, u can use many keywords. They are not specifically se

[2017-07-17 20:02] ReshmaBhatia commented on #613
This is done.
Multiple Congress Members can be selected now.

Kindly find snapshot of one of the test run:
![image](https://user-images.githubusercontent.com/8767851/28287286-f3692878-6aef-11e7-831d-a04718b14121.png)

[2017-07-18 21:55] ReshmaBhatia commented on #616
This is done and can be tested.
This has been handled by displaying a dialogue box when no results are found for the House Member specified by user.

Snapshot of a test run:
![image](https://user-images.githubusercontent.com/8767851/28341565-2cc11b9c-6bc9-11e7-9eda-d7959946558b.png)

[2017-07-20 18:57] mdehghanim commented on #616
@park415 can you please test this?

[2017-07-20 18:58] mdehghanim commented on #617
@park415 can you please test this?

[2017-07-20 18:58] mdehghanim commented on #615
@mendlen can you please test this?

[2017-07-20 18:58] mdehghanim commented on #614
@park415 can you please test this?

[2017-07-20 18:58] mdehghanim commented on #613
@mendlen can you please test this?

[2017-07-21 19:44] ReshmaBhatia commented on #607
This has been done.
@park415 kindly test this.

[2017-07-21 22:32] ReshmaBhatia opened #618 "Hansard Crawler fails for larger count"
While selecting House Member Search if limit result per member is greater than 20 , crawler fails.

![image](https://user-images.githubusercontent.com/8767851/28484854-c202d0d0-6e29-11e7-9790-7ca225537906.png)

[2017-07-21 23:35] ReshmaBhatia opened #619 "Hansard Crawler : Downloaded Debates exceeds limit."
While selecting keyword search, if we limit total results more than 20, 20+ debates gets downloaded. This is because of the orientation of the Hansard website which is not handled.

[2017-07-23 21:12] ghost commented on #607
All of the functions of Project Gutenberg Crawler seem to be working! I tested the Popular Search, Latest Search, and Domain and Sub Domain Search and all three returned results when used with no errors.

[2017-07-23 21:15] ghost commented on #616
I downloaded the nightly build and the issue seems to be resolved. The system still freezes briefly when I press the "Add..." button but this time after waiting for about a minute and a half the list of members came up and I was able to use the function just fine.

[2017-07-23 21:15] #616 closed, assigned to ReshmaBhatia

[2017-07-23 21:25] ghost commented on #614
I downloaded the latest nightly build and the error is resolved! Thanks.

[2017-07-23 21:25] #614 closed, assigned to ReshmaBhatia

[2017-07-23 21:28] ghost commented on #617
Thank you! It seems to be working now.

[2017-07-23 21:28] #617 closed, assigned to ReshmaBhatia

[2017-07-24 06:50] ghost opened #620 "US Congress Crawler Typo"
In the US Congress Crawler under "Input Parameters", the two options are "Representatives" and "Senate" when they should be "Representatives" and "Senators" or "House of Representatives" and "Senate" in order to be consistent. A screenshot is attached.
<img width="372" alt="screen shot 2017-07-23 at 11 49 20 pm" src="https://user-images.githubusercontent.com/28742391/28511326-92725a82-7001-11e7-96

[2017-07-24 19:46] ReshmaBhatia commented on #620
@park415 Thanks for notifying this typo.
This is done, kindly test this.

[2017-07-24 19:49] mendlen commented on #613
Issue has been fixed!

[2017-07-24 19:49] #613 closed, assigned to ReshmaBhatia

[2017-07-24 19:52] mendlen commented on #615
<img width="1024" alt="screen shot 2017-07-24 at 12 52 04 pm" src="https://user-images.githubusercontent.com/28741288/28541755-f4e2fdd0-706e-11e7-81f4-5313fdb7c65b.png">
<img width="1024" alt="screen shot 2017-07-24 at 12 51 36 pm" src="https://user-images.githubusercontent.com/28741288/28541757-f60cbc46-706e-11e7-81d4-359ff31cf7c3.png">
Downloaded the nightly build and still getting the same erro

[2017-08-01 19:00] mdehghanim opened #621 "Oscar Acceptance Speeches"
Implement a crawler for
http://aaspeechesdb.oscars.org/

[2017-08-23 18:11] christina-park9 opened #622 "Update Bug"
Every time that I try to update TACIT from the "Update Available" window that appears in the bottom right hand side of the application, I get the following error message and am unable to update:
<img width="416" alt="screen shot 2017-08-23 at 11 06 43 am" src="https://user-images.githubusercontent.com/31264187/29631232-cc76b41c-87f3-11e7-9665-390099de326f.png">

[2017-08-23 18:32] christina-park9 opened #623 "U.S. Congress Crawler Bug"
In the U.S. Congress Crawler, when I press "Add..." under Congress member nothing happens. After clicking, the button turns blue briefly but no window pops up. It worked once earlier today, but there seems to be some sort of issue with it now. I have downloaded the latest nightly build and this issue is persisting.

[2017-08-25 19:59] sagarmakwana opened #624 "US Congress Crawler Tests broken"

[2017-08-28 22:58] christina-park9 opened #625 "Stack Exchange Crawler Bug"
In the Stack Exchange Crawler under "Specify Date Range", the system freezes on me when I try to change the "From" date. For the Stack Exchange Crawler tutorial video, I am trying to change the start date to 1/1/2017. When I click on the month and change it to 1, everything works fine, but when I click on the date to change that as well, I get a spinning dial. When I go to the "Force Quit" section

[2017-09-07 06:14] mdehghanim opened #626 "thisibelieve.org"
Write a crawler for http://thisibelieve.org/

[2017-09-11 22:06] christina-park9 opened #627 "Typo in US Congress Crawler"
Under "Input Parameters", the Crawler has the option for "Representatives" or "Senate". It should be "Representatives" and "Senators" or "House of Representatives" and "Senate" to ensure that they match one another.

[2017-09-13 23:42] christina-park9 opened #628 "Frontiers Journal Crawler Bug?"

[2017-09-13 23:43] #628 closed, assigned to nobody

[2017-09-13 23:44] christina-park9 opened #629 "Frontiers Journal Crawler Bug?"
When attempting to run the Frontiers Journal Crawler, I get a "Crawling Failed. Provide valid data." error no matter what my search qualifications are. A screenshot is attached.
![screen shot 2017-09-13 at 4 41 50 pm](https://user-images.githubusercontent.com/31264187/30405796-cdf48b74-98a2-11e7-8c12-6196807bcbff.png)

[2017-09-13 23:45] christina-park9 commented on #629
I have tried this in different fields, sub-domains, and with different stored-attributes as well as with both the limit pages box checked and unchecked.

[2017-09-25 19:06] #622 closed, assigned to sagarmakwana

[2017-09-27 22:31] #620 closed, assigned to ReshmaBhatia

[2017-09-27 22:32] mdehghanim commented on #619
@ReshmaBhatia was this ever fixed?

[2017-09-27 22:32] mdehghanim commented on #618
@ReshmaBhatia was this fixed?

[2017-09-27 22:33] mdehghanim commented on #615
@sagarmakwana can you please verify that this change has been committed? It looks like this is the same issue Christina is facing.

[2017-09-27 22:33] mdehghanim commented on #607
@sagarmakwana can you please incorporate this into the build?

[2017-09-29 22:49] drewkog opened #630 "GovTracker Crawler failing to complete calls"
Hey there,

I can't seem to get the gov tracker to complete calls correctly. Though it might claim to have completed the call, the brackets are either incomplete or non existent.

[govtrack.json.zip](https://github.com/USC-CSSL/TACIT/files/1345841/govtrack.json.zip)
s://github.com/USC-CSSL/TACIT/files/1345840/govtrack.json.zip)

[2017-09-29 23:21] drewkog commented on #630
Forgot to add, is there any way to also collect status in the output and committee which a bill came from?

[2017-10-02 20:34] BrendanKennedy opened #631 "US Congress Crawler Bug"
When pulling data from house of representatives, selecting congress member "Andrews, Robert E. [D-NJ]" results in crawler failure.

EDIT: Error occurs for a number of congress members, and I'm guessing it has to do with querying large numbers of pages.

Here's the screenshot to reproduce, and the log of the error:
![tacit_screenshot](https://user-images.githubusercontent.com/6842896/31155588-247fd

[2017-10-04 00:41] dnishant-zz commented on #623
@mdehghanim does this issue still persist?

[2017-10-04 00:43] dnishant-zz commented on #631
@BrendanKennedy could you add a screenshot of the input you provided so I can reproduce the bug.

[2017-10-04 05:17] mdehghanim commented on #623
@christina-park9 can you please verify whether this bug still persists or not?

[2017-10-04 05:44] christina-park9 commented on #623
The issue is not persisting. It takes a little while for it to come up though, usually under a minute.

[2017-10-04 05:44] #623 closed, assigned to sagarmakwana, dnishant-zz

[2017-10-04 06:23] dnishant-zz commented on #627
@mdehghanim this seems to be fixed already. The options now are "House of Representatives" and "Senate"
https://github.com/USC-CSSL/TACIT/commit/88283340cd81c63dbcdcccf63397620edaadf358

[2017-10-04 06:25] #627 closed, assigned to sagarmakwana, dnishant-zz

[2017-10-04 07:04] dnishant-zz commented on #631
@mdehghanim I fixed this, just testing now.. So I will send in the fix by tomorrow

[2017-10-04 18:05] dnishant-zz commented on #631
@mdehghanim this is ready to be tested

[2017-10-04 21:09] mdehghanim commented on #631
@BrendanKennedy I'll be sending you a link to the new build so that you can test this issue.

[2017-10-04 22:17] BrendanKennedy commented on #631
Using the revised TACIT, this error has been fixed. Thanks!

[2017-10-05 00:23] #631 closed, assigned to dnishant-zz

[2017-10-06 00:00] mdehghanim commented on #630
@drewkog these need to be two separate issues. Please delete the second one and add it as a new issue

[2017-10-06 03:43] drewkog opened #633 "Gov Crawler"
Is there any way to also collect status in the output and committee which a bill came from?

[2017-10-06 20:11] sagarmakwana commented on #630
@drewkog Can you please provide the steps to recreate the bug. I ran the crawler and exported into the json. Works fine for me. If I could get the same input as yours , I could better understand the bug.

[2017-10-06 21:40] drewkog commented on #633
Morteza,
It fails when not all search terms are specified. It will save tremendous amounts of time if we can easily pull with specifications of the congress number (if not necessary, even better) and the current status. The current status is the most important part.  Does this help?
![screen shot 2017-10-06 at 3 36 42 pm](https://user-images.githubusercontent.com/32403328/31299618-90098fd2-aaac-11

[2017-10-07 00:41] sagarmakwana commented on #629
@christina-park9 Can you check again on the wiki build. Works good for me.

[2017-10-08 17:12] drewkog commented on #630
[console.zip](https://github.com/USC-CSSL/TACIT/files/1367045/console.zip)

Let me know if this works.
![screen shot 2017-10-06 at 3 36 42 pm](https://user-images.githubusercontent.com/32403328/31319051-9d382150-ac19-11e7-96a0-30f9101c1145.png)

[2017-10-10 16:50] mdehghanim commented on #630
@sagarmakwana @drewkog what is the status of this?

[2017-10-10 16:51] mdehghanim commented on #633
@drewkog is the file you attached related to this issue or the previous issue?

[2017-10-10 16:53] mdehghanim commented on #585
@dnishant what is the status of this?

[2017-10-10 16:53] mdehghanim commented on #624
@sagarmakwana @dnishant what is the status of this?

[2017-10-10 16:54] mdehghanim commented on #629
@christina-park9 did you check the wiki build? Does it work for you?

[2017-10-10 16:54] mdehghanim commented on #625
@sagarmakwana please look in to this

[2017-10-10 20:18] drewkog commented on #633
@mdehghanim Sorry, this post is for the other one. I'll delete it now.

Drew

[2017-10-10 20:19] drewkog commented on #630
@sagarmakwana  To recap:

It fails when not all search terms are specified or it begins crawling through a year and then generates the corpus about ~1.5 years into the entire crawl.

[2017-10-10 20:32] dnishant-zz commented on #585
I am waiting for the jenkins script, I will try a few workarounds on jenkins once I have access to the script

[2017-10-10 20:33] dnishant-zz commented on #624
@mdehghanim haven't worked on this yet, will work on it as soon as I can

[2017-10-11 20:15] christina-park9 commented on #629
Just checked it out! Seems to be working fine now.

[2017-10-11 20:15] #629 closed, assigned to sagarmakwana

[2017-10-12 20:52] BrendanKennedy opened #634 "US Congress Crawler, arbitrary record limit"
When using the US Congress Crawler, selecting multiple congress members results in some (not all) results being cut off at exactly 25 documents, even though this option was never selected. Again, some congress members execute fine, but most cut off early. To reproduce:
![crawler_error](https://user-images.githubusercontent.com/6842896/31518572-8e64c5d2-af54-11e7-953c-1f1fec06bf0f.png)

[2017-10-14 22:04] ReshmaBhatia commented on #619
@mdehghanim Yes it was. Kindly find snapshots below:

![image](https://user-images.githubusercontent.com/8767851/31579701-b3cb8ac0-b0f0-11e7-8a87-8395721d6cc2.png)

![image](https://user-images.githubusercontent.com/8767851/31579716-e5668260-b0f0-11e7-9629-039793e5f448.png)

[2017-10-14 22:05] ReshmaBhatia commented on #618
@mdehghanim Yes. Kindly find snapshots here #619

[2017-10-16 05:31] #619 closed, assigned to ReshmaBhatia

[2017-10-16 05:31] #618 closed, assigned to ReshmaBhatia

[2017-10-20 19:39] sagarmakwana commented on #634
@BrendanKennedy Can you give me at least one senator or member where it limits to 25. Or this behavior is completely random??

[2017-10-20 20:04] BrendanKennedy commented on #634
@sagarmakwana , it's really hard to duplicate, since I believe it is completely random.  But, ALWAYS, the first selection will complete with no problem. So if I select multiple people, and "Dingell, John D. [D-MI]" is the first one, it will complete. But if he's not first, then it will cut off at 25 (most of the time). Hope that helps

[2017-10-20 20:22] BrendanKennedy commented on #634
@sagarmakwana Also, I am using the most recent version of TACIT, including the most recent fix (issue #631 )

[2017-10-20 20:52] sagarmakwana commented on #634
@BrendanKennedy Okay that helps a lot. I think I have an idea what might be going wrong. Will check and get back to you. Thanks for your quick response.

[2017-10-20 20:57] BrendanKennedy commented on #634
@sagarmakwana no problem, thanks for your help

[2017-10-30 04:00] mdehghanim commented on #634
@sagarmakwana if this is fixed, can you please issue the update?

[2017-10-30 04:01] mdehghanim commented on #585
@dnishant what is the status of this bug?

[2017-11-01 20:32] dnishant-zz commented on #585
@mdehghanim this is ready to be tested

[2017-11-06 06:51] #634 closed, assigned to sagarmakwana

[2017-11-10 22:51] dnishant-zz commented on #585
1. Please use the link to download the library necessary for the chinese wordcount:
https://nlp.stanford.edu/software/stanford-segmenter-2017-06-09.zip
2. Unzip it and find the file "**ctb.gz**" in the **data** folder.
3. When the wordcount runs for the first time with chinese text it will prompt for the chinese dictionary.
4. Add that file to tacit the first time, you will not need it again.

Tac

[2017-11-12 21:03] sagarmakwana commented on #615
@mdehghanim  I tested it both on wiki build and the website build. Both of them worked for the above input. @mendlen I would suggest updating the build. May be its a older version thats creating a problem. If the issue still persists, let me know.

[2017-11-13 04:22] #615 closed, assigned to ReshmaBhatia

[2017-11-13 04:24] mdehghanim commented on #630
Govtrack is in the process of being taken offline. We will no longer fix issues regarding Govtrack crawler.

[2017-11-13 04:24] #630 closed, assigned to sagarmakwana

[2017-11-13 04:24] mdehghanim commented on #633
We will no longer work on issues related to the Govtrack crawler.

[2017-11-13 04:24] #633 closed, assigned to sagarmakwana

[2017-11-13 04:25] mdehghanim commented on #585
@sagarmakwana can you please test this

[2017-11-29 01:20] christina-park9 opened #635 "Reddit Crawler Bug"
Whenever a subreddit is specified, no search results are returned, which is not an issue that arises when subreddits are not specified. Attached is a screenshot of an example search parameter. Crawling complete but there are no files downloaded.
<img width="1280" alt="screen shot 2017-11-28 at 5 19 02 pm" src="https://user-images.githubusercontent.com/31264187/33352977-571b6334-d460-11e7-90ca-4c28

[2017-12-13 23:12] mdehghanim opened #636 "extra text outputted in the console when running the congress crawler"
Count 0 should be dropped:

Writing record DEPARTMENT OF THE INTERIOR AND RELATED AGENCIES APPROPRIATIONS ACT, 1997count 0
1file(s) Downloaded
Writing record EMERGENCY SUPPLEMENTAL APPROPRIATIONS FOR ADDITIONAL DISASTER ASSISTANCE AND RESCISSIONS FOR FISCAL YEAR 1995count 0
1file(s) Downloaded
Writing record DEPARTMENT OF THE INTERIOR AND RELATED AGENCIES APPROPRIATIONS ACT, 1997count 0

[2017-12-15 03:47] sagarmakwana commented on #635
@mdehghanim @christina-park9 I have fixed the issue. Please test it thoroughly with all the search options available in Reddit crawler and let me know if it works fine.

[2017-12-20 19:02] christina-park9 commented on #635
Everything seems to be working!

[2017-12-20 19:02] #635 closed, assigned to sagarmakwana

[2018-01-05 18:27] mdehghanim commented on #585
@kaurrajdeep Can you please test this module?

[2018-01-06 20:16] kaurrajdeep commented on #636
Is this the output still ?
Can you please give me sample input.
Also, "count 0" should be dropped only when it is 0 and not any other number >0 ??

[2018-01-06 20:20] kaurrajdeep commented on #585
I am looking into this.

[2018-01-06 20:33] kaurrajdeep commented on #625
I am able to replicate it. Will look further.

[2018-01-15 06:58] kaurrajdeep commented on #636
Removed the occurrence found with text "Writing record". Please reopen if issue still persists.

[2018-01-15 06:58] #636 closed, assigned to kaurrajdeep

[2018-01-23 07:50] kaurrajdeep commented on #625
Hi,
  One possible reason for this to be occurring seems to be due to java.util.Calendar class. Couple of articles suggest that using this class results in poor performance and suggestion is to move to joda time (http://www.joda.org/joda-time/)
https://dzone.com/articles/top-ten-performance-problems-a
http://coffeedriven.org/be-carefull-with-calendar-getinstance-and-timezone-gettimezone/

[2018-01-23 18:18] mdehghanim commented on #625
What other modules depend on the calendar class? Have you tried using joda-time? Does that fix the issue?

[2018-01-23 22:16] kaurrajdeep commented on #625
There are total of six https://github.com/USC-CSSL/TACIT/search?l=Java&p=2&q=Calendar.getInstance&type=&utf8=%E2%9C%93.

I haven't tried locally with joda. Will do it. The only problem is this issue is intermittent. Reproducible sometimes only.

[2018-01-24 22:43] kaurrajdeep commented on #585
Hi,
  I have tested the module for TACIT word count and LIWC as per steps given in previous updates.
 Using the attached files.
Observations :

-  csv files generated is opening correctly with pages and textedit apps in mac.
- Importing with excel still giving unknown chars.
- Uploading the csv to drive also gives the Chinese  chars correctly.

[chinesewordtest.txt](https://github.com/USC-CSSL/TAC

[2018-01-24 23:01] kaurrajdeep commented on #585
Sorry it’s numbers and not pages for Mac.

[2018-01-25 00:40] kaurrajdeep commented on #585
Sorry it’s numbers and not pages for Mac.

[2018-01-29 23:45] mdehghanim commented on #607
@kaurrajdeep can you please make sure that this plugin is included in the next build?

[2018-01-29 23:45] #606 closed, assigned to nobody

[2018-02-04 22:28] kaurrajdeep commented on #585
The steps to follow with demo images can be found  at :
https://github.com/USC-CSSL/TACIT/wiki/Steps-to-run-Chinese-Word-Count-Module

[2018-02-04 23:02] kaurrajdeep commented on #607
Hi,
  This is included for the next build.

Thanks,
Rajdeep

[2018-02-07 01:00] BrendanKennedy opened #637 "US Congress Senate Crawler: Doesn't download all fields for Senate"
When download files for "Senate" designation under the US Congress Crawler, the only returned fields are ["body"], when the asked-for fields were ["body", "date", "title", "house"].

When downloading the same type of files (same crawler) for the House data, there is no such issue.

Without the "date" field, the data is incomplete.

EDIT:
Same is true for the House crawler as well. Only returned fi

[2018-02-07 23:25] mdehghanim commented on #637
@kaurrajdeep can you please focus on this bug ASAP?

[2018-02-08 00:08] kaurrajdeep commented on #637
Checking this.

[2018-02-09 22:41] kaurrajdeep commented on #637
Hi,

- The class  (wrapper_std) used to select "date/title" was no longer existing.
- Now selecting the required element by using "main-wrapper".h2.

Attaching the latest output below.
Please let me know if this seems fine

Have tested this locally.
Once night build is run on jenkins, we can test it in development environment once before pushing an update.

[{
  "house" : "House of Representatives

[2018-02-11 04:33] kaurrajdeep commented on #637
Hi,
  The fix can be tested by downloading latest version from http://cssl.usc.edu/wiki/index.php/Tacit_Release

Thanks,
Rajdeep

[2018-02-14 19:33] #637 closed, assigned to kaurrajdeep

[2018-02-16 19:49] BrendanKennedy opened #638 "Congress crawler crashing unexpectedly"
Crawler quits with errors message:
 (January 04, 1995 - Senate (Vol. 141, No. 1))</a>00000000Crawling failed. Provide valid data
com.fasterxml.jackson.core.JsonGenerationException: Current context not an ARRAY but OBJECT
	at com.fasterxml.jackson.core.JsonGenerator._reportError(JsonGenerator.java:1560)
	at com.fasterxml.jackson.core.json.UTF8JsonGenerator.writeEndArray(UTF8JsonGenerator.java:293)

[2018-02-16 20:21] kaurrajdeep commented on #638
Hi,
  So this happens with some of the filters?

Thanks,
Rajdeep

[2018-02-17 01:56] BrendanKennedy commented on #638
Rajdeep,

The error is hard to replicate. The above was generated by selecting senator (from the dropdown) "Kohl". However, there is a new, more pressing error, which I will post now

[2018-02-17 01:58] BrendanKennedy opened #639 "US Congress Crawler: Dropdown menu doesn't work"
When selecting either House/Senate for the Congress Crawler, the dropdown menu doesn't work.

Error message:
java.net.SocketTimeoutException: Read timed out
	at java.net.SocketInputStream.socketRead0(Native Method)
	at java.net.SocketInputStream.read(SocketInputStream.java:150)
	at java.net.SocketInputStream.read(SocketInputStream.java:121)
	at sun.security.ssl.InputRecord.readFully(InputRecord.ja

[2018-02-21 20:18] #639 closed, assigned to nobody

[2018-02-23 19:29] mdehghanim opened #640 "Error in LDA modules"
The LDA modules (I tried three of them) generate the following random error when given the following folder. As you can see, I tried selecting it as a folder, or uploading it as a corpus and trying to analyze the corpus. These files work fine in other modules though.
<img width="1755" alt="screen shot 2018-02-23 at 10 45 04 am" src="https://user-images.githubusercontent.com/6384236/36612842-9fd896

[2018-02-23 19:29] mdehghanim commented on #640
@kaurrajdeep please get to this ASAP. Thank you!

[2018-02-23 19:55] kaurrajdeep commented on #640
Checking this.

Thanks,
Rajdeep

[2018-02-23 21:36] kaurrajdeep commented on #640
Hi,

 This seems similar to https://github.com/USC-CSSL/TACIT/issues/497.
  Could you please check topic-composition-02-23-2018-10-48-37.csv with number 11.
  As in all the three methods, LDA seems to be stopping after that.

Thanks,
Rajdeep

[2018-02-23 21:38] mdehghanim commented on #640
But now even adding a folder doesn't work. The bug is not unique to corpus

[2018-02-23 21:39] kaurrajdeep commented on #640
Yes. Noticed.

[2018-03-11 16:20] mdehghanim commented on #640
@kaurrajdeep Any updates on this?

[2018-03-12 23:32] kaurrajdeep commented on #640
Hi,
 I will provide an update on this by Thursday.

Thanks,
Rajdeep

[2018-03-18 23:55] kaurrajdeep commented on #638
Hi,
 I am not able to replicate it. I tried with a couple of filters (Choosing senator : Kohl, keyword: government).

Please put in the fields you have used as soon as you see this error again.

For Reference:
Most likely cause is if there is any issue in retrieving the (Title, date, house,body), the object which was started with '{' doesn't end up getting closed.
And at line 199, we are closing t

[2018-03-19 00:58] kaurrajdeep commented on #640
Hi,
  This issue is occurring due to ArrayOutOfIndex while doing LDAAnalysis and convertComposition2csv at line number 211:

https://github.com/USC-CSSL/TACIT/blame/7b6197c47f85abff4c5d192704e2cfd144ab4361/edu.usc.cssl.tacit.topicmodel.lda/src/edu/usc/cssl/tacit/topicmodel/lda/services/LdaAnalysis.java#L211

**Example list of wordcount** :
 [0,
file:/Applications/Eclipse.app/Contents/MacOS/TopicMo

[2018-03-19 01:07] kaurrajdeep commented on #640
Also,
 It will  be helpful, if you can attach the folders/corpus used for testing.

Regards,
Rajdeep

[2018-03-22 18:24] mdehghanim commented on #640
Rajdeep,
Any updates on this?

[2018-03-22 18:29] kaurrajdeep commented on #640
Hi,
  I have debugged it over the weekend. Is it possible to give the input you had tried with?

Thanks,
Rajdeep

[2018-03-22 18:31] mdehghanim commented on #640
When I tried it, it would fail on any input. It doesn't fail when you run
LDA? I tried it on both crawled corpora, and text on my local machine.

On Thu, Mar 22, 2018 at 11:29 AM, RAJDEEP KAUR <notifications@github.com>
wrote:

[2018-03-22 18:39] kaurrajdeep commented on #640
Yes, it does. The analysis is mentioned in above comments. The issue is with the input files given. I will check why it is happening suddenly.

Thanks,
Rajdeep

[2018-03-22 22:03] kaurrajdeep commented on #640
Hi,
 Whenever the corpus file name has a ',' in it, LDA is failing. (mostly in case of congress crawler).
As split if performed on "," of input where one attribute is filename.

Example : /Applications/Eclipse.app/Contents/MacOS/json_corpuses/congress/MARCHED/Acevedo-Vila, Anibal [D-PR]

Thanks,
Rajdeep

[2018-03-22 22:07] mdehghanim commented on #640
Last time you had reported a different bug. Are these related? If you fix
the comma bug, will the issue be resolved?

On Thu, Mar 22, 2018 at 3:03 PM, RAJDEEP KAUR <notifications@github.com>
wrote:

[2018-03-22 22:09] kaurrajdeep commented on #640
Last time for this issue ?

I am trying removing comma.

Thanks,
Rajdeep

[2018-03-22 22:12] mdehghanim commented on #640
See below:

Hi,
This issue is occurring due to ArrayOutOfIndex while doing LDAAnalysis and
convertComposition2csv at line number 211:

https://github.com/USC-CSSL/TACIT/blame/7b6197c47f85abff4c5d192704e2cf
d144ab4361/edu.usc.cssl.tacit.topicmodel.lda/src/edu/usc/
cssl/tacit/topicmodel/lda/services/LdaAnalysis.java#L211
<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_USC-2DCSSL_TAC

[2018-03-22 22:14] kaurrajdeep commented on #640
Yes. Its same. Due to extra comma, string split gave one extra value and hence odd array index.

[2018-03-22 22:54] kaurrajdeep commented on #640
Hi,
 I have fixed it by removing comma and initiated a build.
 It can be tested in dev environment after the build is finished from

 http://cssl.usc.edu/wiki/index.php/Tacit_Release

Thanks,
Rajdeep

[2018-03-22 23:06] kaurrajdeep commented on #640
Hi,
 Fix is now available in Development site provided above.

Thanks,
Rajdeep

[2018-03-23 16:01] mdehghanim commented on #640
This bug is fixed. Please deploy an update.

[2018-03-23 16:01] #640 closed, assigned to kaurrajdeep

[2018-03-23 19:56] kaurrajdeep commented on #640
Hi,
 Update will be deployed tomorrow after jenkins build.

Thanks,
Rajdeep

[2018-03-25 23:22] kaurrajdeep commented on #640
Hi,
 Update has been pushed.
Thanks,
Rajdeep

[2018-03-26 01:33] #585 closed, assigned to dnishant-zz

[2018-05-04 04:16] mdehghanim opened #641 "TACIT freezes in High Sierra"
Many users have reported this issue now. I just tested TACIT on my own laptop, and I was able to reproduce the bug. Here is the content of the log file:
!SESSION 2018-05-03 21:08:57.296 -----------------------------------------------
eclipse.buildId=unknown
java.version=10.0.1
java.vendor=Oracle Corporation
BootLoader constants: OS=macosx, ARCH=x86_64, WS=cocoa, NL=en_US
Framework arguments:  -key

[2018-05-04 04:26] mdehghanim commented on #641
I installed an older version of JDK, and still have the same issue

[2019-03-25 08:44] Praveensp9 commented on #641
This issues is resolved on commit build ID : 4637222249f0c19cc01f49702d7068037bb2c85a
Here is link to git commit :
https://github.com/USC-CSSL/TACIT/commit/4637222249f0c19cc01f49702d7068037bb2c85a

[2019-03-25 08:44] #641 closed, assigned to sagarmakwana, dnishant-zz, Praveensp9

[2019-03-25 22:39] Praveensp9 commented on #601
Made changes on jenkins to run a script which creates Tacit dmg for MacOs. Now for Mac , tacit is downloaded as dmg. It's available on website.
For changes related to this , refer /usr/Tacit/create_tacit_dmg.sh file in the dev environment.

[2019-03-25 22:39] #601 closed, assigned to sagarmakwana, Praveensp9

[2019-03-28 21:16] Praveensp9 commented on #638
Not Reproducible on latest build

[2019-03-28 21:16] #638 closed, assigned to Praveensp9, kaurrajdeep

[2019-03-28 21:16] Praveensp9 commented on #625
No reproducible on latest build

[2019-03-28 21:16] #625 closed, assigned to Praveensp9, kaurrajdeep